[2013-10-17 08:20] larrybotha opened #1 "Intended workflow"
I'm looking at using Source for a new project, and have been trying to work out the workflow with regards to creating and updating specs, as well as the non-spec templates found in `client/init/`.

This is my understanding of some of how Source works:

- `grunt update` minifies and copies only the files found under `client/src/` to `public/`
- `grunt initClient` copies the files from both `client/

[2013-10-19 10:01] larrybotha opened #2 "Pull request etiquette"
Are you guys open to pull requests?

If so, should I issue pull requests from a topical branch straight into Source's master?

[2013-10-22 10:46] larrybotha opened #5 "default.css overriding project typographic styles in .source_example blocks"
Currently, project.css base styles for typographic elements (p, ul, li, small etc.) in `.source_example` blocks are overridden by default.css.

These elements are being styled via the following properties in reset.less, and are not overridden by project.css due to it being linked earlier in the document:

[code]

`font` and `color` can be declared on `html` so that users declaring those properties

[2013-10-22 22:03] robhrt7 opened #7 "Renaming /client folder"
It seems like `/client` isn't a best name for folder with client side part of Source engine, we have some thoughts about renaming it to:
- client-side
- front-side
- front-end
- front

What do you think about it?

[2013-10-22 22:09] robhrt7 opened #8 "Source as service"
I have some ideas for creating Source as service and hosting private and public documentations.

The workflow with Source as service could look like this:

Client "feeds" their repository with public contents and gets private space for documentation based on Source engine. Also, there could be some integrations with Dropbox Storage API.

What do you think about it?

[2013-10-22 22:15] operatino opened #9 "Screencasts"
We're planing to record some screencasts about Source workflow, which topics do we need to cover most?

[2013-10-24 17:27] robhrt7 opened #10 "Live templates collection for IDEA/Webstorm/PHPStorm"
We have some live templates collection with fast snippets to work with Source that need to be shared with public and published in separate repository.

[2013-11-03 17:50] robhrt7 opened #11 "Searching in nested catalogues"
Can't find spec in nested catalogues through search in tolbar.

[code]

With this structure, search won't `promo/index.html`.

Problem lies in `parseFileTree.js`, that returns nested object for live complete plugin that search is using. `getAllPages` must return flat object, and if there are few kind of same named folder, the parent folders must be added to spec name in the object.

[2013-11-03 18:17] robhrt7 opened #12 "Drawing navigation from nested catalogues"
Add a possibility to draw navigation from nested catalogues without `index.html` on same level (buttons):

[code]

now it's possible only with this structure:

[code]

Also, there must be a possibility to have few catalogues with same name, like:

[code]

That would be generated from this hooks:

[code]

[2013-11-03 18:22] robhrt7 opened #13 "Auto generate catalogue description"
Calling

[code]

We need to get

[code]

Where
- base.url - is an url to full list of `base/` catalogue specs
- base.title/description - its title and description from info.json
- base.specs - all nested specs

[2013-11-03 18:26] robhrt7 opened #14 ".src files support with header/footer include on server side"
`.src` files support will free us from copy/pasting common parts of spec pages like resources in `<head>` and Source header/footer, as we do now in `.html` files.

Data for custom parts of included content will be regulated from `info.json` file next to `index.src`.

As this files will be processed through node.js (with ejs templating engine), soon we will have a possibility to write a markdown ma

[2013-11-03 18:27] operatino opened #15 "Task for full Source deploy on remote"
Create grunt task for Source server side deploy on remote server

[2013-11-03 18:28] operatino opened #16 "Add possibility to create custom templates for clarify module"

[2013-12-18 08:31] XOP opened #17 "404 page link adviser"
Link proposal service, based on your (incorrect) url request

[2013-12-30 14:15] #13 closed, assigned to fromanywhere

[2013-12-30 14:18] #12 closed, assigned to fromanywhere

[2013-12-31 11:59] #11 closed, assigned to fromanywhere

[2013-12-31 12:05] robhrt7 opened #18 "Full .src files support"
- Adding `.src` files support to all level pages in Source
- Custom views (ejs templates) for different page types
- Enhancing Spec page templets for easy resource linking in head and etc
- Clarify (@Leikam) support for `.src` files
- Removing mention of `index.html` across all Source code, replacing it with higher abstraction - `specPage`
- ? Migration script `.html` -> `.src`

[2013-12-31 12:06] #14 closed, assigned to ostroffsky

[2013-12-31 13:54] #7 closed, assigned to nobody

[2014-01-02 11:50] robhrt7 opened #20 "Move git ingored files from Source to custom folder"
Recommended setup for using Source is to keep two git repos - first is Source repo, second contains all specs in public folder. For now, we have files that aren't stored in any repo and are git ignored by default in Source, those files are stored in `/user` folder and `/client-side/plugins`.

I'm thinking about moving all files that are now git ignored in Source to another common folder with `/pub

[2014-01-03 16:12] operatino opened #21 "app.js -> source.js"

[2014-01-13 12:22] sdbondi opened #22 "Setting spec path outside of Sourcejs directory causes broken tree links."
Setting my user/options/options.json to include:

[code]

so that in my projects I can gitignore the Sourcejs folder and have the following structure:

[code]

The generated pages tree json has broken links (e.g. ocs/buttons).
The issue can be rectified by changing as in [this commit](https://github.com/fixate/Source/commit/fc478aea9d06bd50cce9b5c9660a573b76088dd0).

[2014-01-14 08:57] operatino opened #23 "About problems on Windows with JSdom"
If somebody is facing problems with installing JSdom dependency for Source engine, check out this topic from [Sourcejs.com](http://sourcejs.com) branch repo https://github.com/sourcejs/Sourcejs.com/issues/1.

The problem comes when `npm install` downloads JSdom and tries to compile it locally, having xcode command line tools on OSx everything goes fine, but Windows by default doesn't have necessar

[2014-01-15 12:36] fromanywhere opened #24 "Links on main page based on often search results for each user"
It would be great to make more personalized service using user spec search requests. Output can be built / sort by request weight.

Search settings can be saved in local account storage.

[2014-01-22 13:24] exdeniz opened #25 "version and development"
Ребят, плохо с английским, опишу на русском.
### Изменения на проекте

Хотелось бы видеть историю изменения блока. От версии к версии бывает блоки меняются, нужно оповещать разработчиков об этих изменениях. А так же возможность сравнить эти изменения.
### Про разработку в Source

Должен быть механизм draft'ов. То есть разрабатываемый блок весит в draft пока не пройдет разработку, согласование, тес

[2014-01-22 13:33] XOP opened #26 "Redirect from host shortlink to localhost:8080 on Windows"
Redirecting from host shortlink, say, 'source' to localhost:8080 can be perfomed by the following command:
[code]

[2014-02-05 18:52] operatino opened #28 "Specs API"
We're working on specs API that will contain parsed information from all spec example sections (with HTML) and all information about spec pages (from info.json).

Here's first example of API usage http://youtu.be/cefy_U5NU4o. In video, you can see that Design-lego tools takes navigation tree from Source specs API and draws selected elements from example section in working space.

If you want to ge

[2014-02-06 15:47] robhrt7 opened #29 "Client-side development mode"
Client-side development mode with special options, for disabling some Source plugins in dev mode. The same modes functionality will be used to turn on some dev plugins in the production mode.

[2014-02-06 16:05] robhrt7 opened #30 "Improve navigation calatogues"
http://sourcejs.com/docs/data-nav/index.src
- Add a possibility to exclude spec from search
- Add scopes (default, extended, force-all etc) for generated navigation, default scope will not show marked inner specs

[2014-02-06 16:08] robhrt7 opened #31 "Create visual specs catalogue"
Using spec screenshots from API #28, create secondary layout for specs navigation (http://sourcejs.com/docs/) with preview.

[2014-02-06 16:09] robhrt7 opened #32 "Fix scroll to section"
Fix scroll to section in cases where page is loading slower than scroll navigation + loader for spec page to get rid of nasty page jumps.

[2014-02-06 16:14] robhrt7 opened #33 "Inner navigation changes url to index.html"
Inner navigation changes url to `index.html` in pages with different names like `index2.html`. Need to get rid off `index.html` dependency.

[2014-02-18 09:40] operatino opened #34 "Tests"
Apply tests with jasmine and dalek.js to all core functionality

[2014-03-17 16:31] robhrt7 opened #35 "Change volojs to bower for plugin dependencies"

[2014-04-01 15:36] robhrt7 opened #36 "Auto-generated documentation for JS"
I'm thinking about integrating some of this tools https://github.com/nevir/groc http://jashkenas.github.io/docco or JSDoc based compiler into Source Spec pages.

With this kind of integration, we could get auto-generated JS docs right inside our Source Spec pages with access to all Source plugins.

[2014-04-25 20:09] robhrt7 opened #37 "Create yeoman generator for Source init"
Create yeoman generator for Source init instead of running `grunt init`. Refactor some file structure for easier first setup.

[2014-04-25 20:10] #33 closed, assigned to fromanywhere

[2014-04-25 20:13] #32 closed, assigned to fromanywhere

[2014-05-07 11:34] robhrt7 opened #38 "Interactive graphics documentation"
http://d.pr/i/RwpI
- Images folder parsing
- Search through existing images
- Filters by size/color
- Drag n drop icon to create a PR with new or updated icon

[2014-06-02 13:36] XOP opened #40 "Transcribing search results"
Make available to use different languages in search with transcription using latin letters and vice versa.

example:

[code]

[2014-06-04 10:42] XOP opened #41 "Search results better output"
So far we got live-search results in main input field.
Few improvements to suggest here:
* ability to cmd/ctrl - click on result and have it opened in a tab or whatever (alternatively we could use extra link to open *all* results in separate tabs)
* have a new link to open separate page with all possible results on query
Something like this: http://puu.sh/9evEI/66f6628168.png

[2014-06-06 14:35] XOP opened #42 "404 page design"

[2014-06-06 14:37] XOP opened #43 "Catalog and menu redesign"
This involves preview showing as well

[2014-06-24 17:41] robhrt7 opened #44 "Seperate modules responsible for showing source code and inner navigation from client side core"
Seperating those scripts we could use them as a light lib for any generated Style Guides.

[2014-07-29 16:33] #20 closed, assigned to nobody

[2014-07-29 16:34] #43 closed, assigned to jesprider

[2014-07-29 16:38] #40 closed, assigned to cheshirsky

[2014-07-29 16:39] #31 closed

[2014-07-29 16:39] #30 closed, assigned to fromanywhere

[2014-07-29 16:40] #25 closed, assigned to nobody

[2014-07-29 16:42] #22 closed, assigned to nobody

[2014-07-29 16:42] #18 closed, assigned to ostroffsky

[2014-07-29 16:43] #10 closed

[2014-08-08 21:33] michaelguild13 opened #53 "h1 & h3 heading inside of the .example_code section get's parsed as a Section Heading for the nav"
h1 & h3 heading inside of the .example_code section get's parsed as a Section Heading for the nav

[2014-08-13 08:08] #53 closed, assigned to robhrt7

[2014-08-13 11:49] #5 closed, assigned to robhrt7

[2014-09-18 22:36] ashmigelski opened #59 "Using Source as Skins viewer"
Source works nice when you have one CSS (main product styles) and want to apply it different HTML elements, thanks for this :+1:

Our main product has different skins (logos, css) for different customers and i want to use source for skins system  documentation.

First I'm want to solve such problem - i have one HTML code and want to apply different CSS skins to it.  Idea is to show how template pa

[2014-09-19 07:39] operatino opened #60 "Make SourceJS as global or local node module"
With custom, abstract commands like:

[code]

Which will take current run folder as `user`.

Moving SourceJS to global module, will probably help to install it much easier to understand.

[2014-09-30 07:09] vitalymak opened #62 "Passing GET params to spec causes error, branch v.0.4.0"
Hi! Trying to pass GET params to spec causes error, for example:

Debugged and found `Source/core/middleware/read.js` line 16:
`var physicalPath = global.app.get('user') + req.url;`

and line 75:
`var requestedDir = req.url;`

then correct it to:
`var physicalPath = global.app.get('user') + req.path;`
`var requestedDir = req.path;`

[2014-10-13 09:12] cheshirsky opened #66 "About possible *NIX JSDom problems."
Some cases can make you to have following error:
[code]

Typically it is caused by `node_modules` folder copying to another location (deployment or smth like that).

It can be solved by the following steps:
[code]

Please follow [this link](https://github.com/tmpvar/jsdom/issues/757) to get more details.

[2014-11-16 21:23] #62 closed, assigned to nobody

[2014-11-16 21:28] #37 closed, assigned to robhrt7

[2014-11-16 21:28] #35 closed, assigned to robhrt7

[2014-11-22 14:22] karlisup opened #74 "Incorrect link to examples/specs"
![Alt Text](http://i.imgur.com/fe4EPXW.png)
When trying to open specs it leads to incorrect destination (404 page).

[2014-11-25 09:45] robhrt7 opened #76 "Configure custom Spec pages as separate modules"
Add configuration scenario to add this kind of Interactive Specs as a dependency from separate repo https://github.com/sourcejs/styles.

Among plugins, Source could have custom pages (small application) for different team needs. After Styles page will be also release Graphics page and Front-end resources management dashboard.

[2014-11-26 21:17] #74 closed, assigned to nobody

[2014-12-29 10:49] operatino opened #80 "Use shadow DOM for isolating `source_example` scope from external CSS"
Right now, to isolate SourceJS UI styles from `source_example` blocks, we generate complex CSS selectors with Less. Would be great to replace this in future with Shadow DOM, as these guys are doing http://styleguide.sc5.io.

[2014-12-29 20:58] robhrt7 opened #81 "Clarify: Scope CSS of helper panel"
Place Clarify Helper panel in Shadow DOM with scoped CSS to prevent conflicts with examples styles.

[2015-01-04 15:26] operatino opened #82 "Formatted code examples UI improvements"
Hi,

Would be great to prevent blinking source code, when using `<code class="src-html source_visible"></code>`, showing only formatted version with prism, when it's ready.

Also, we need to check if code examples drawing is delaying final Spec Ready event, to keep `scrollToHash` working properly. Check http://sourcejs.com/docs/api/load-events/

[2015-01-04 15:29] #1 closed

[2015-01-04 15:29] #66 closed

[2015-01-04 15:30] operatino commented on #26
Thank for the tip, very useful! I'll close this issue, but leave in FAQ section.

[2015-01-04 15:30] #26 closed

[2015-01-04 15:30] #23 closed

[2015-01-04 15:30] #2 closed

[2015-01-04 15:34] #59 closed

[2015-01-04 15:37] operatino commented on #28
Specs API done in 0.4

[2015-01-04 15:37] #28 closed

[2015-01-04 15:38] operatino commented on #38
Working on it, soon will release as standalode dashboard.

[2015-01-04 15:39] operatino commented on #16
Done in Clarify 2.0 (in Source 0.4)

[2015-01-04 15:39] #16 closed

[2015-01-04 15:42] operatino commented on #15
Done in 0.4

[2015-01-04 15:42] #15 closed

[2015-01-05 18:38] operatino opened #83 "Move file-tree parser to separate process"
We need to spawn separate process during the file tree parsing. Now it's running in common tread, slowing the response of the application when update is running.

[2015-01-07 15:58] operatino opened #84 "Clarify: Add responsive layout testing menu"
Like in pattern lab http://demo.patternlab.io/?p=organisms-article-body http://d.pr/i/4U02

[2015-01-07 15:59] operatino commented on #34
First test are here, more to come.

[2015-01-07 15:59] #34 closed

[2015-01-18 16:19] Leikam opened #85 "Clarify: Add browser-sync injection"
Inject browser-sync script on clarified page, that allow connect to remote chrome-like debugger.

[2015-01-19 09:20] operatino commented on #85
Maybe it's better to use separate proxy server for this? As I remember, browser sync must have it.

We need to keep core unopinioned, adding specific tools like this to plugins and external config recipes.

It could be easily done with SourceJS Middleware Plugin for all specs.

[2015-01-19 10:17] Leikam commented on #85
Yes, I agree that it should be done on the middleware level. Common reason make this plugin is to provide more convenient way for CSS injection without separate page (proxied by bsync own static-server), but using all benefit of Sourcejs.

[2015-02-02 09:16] operatino opened #87 "SourceJS static compiler"
Taking delivery issues in mind, maybe it would be very useful to have a SourceJS static site generator, that will create a static copy of the engine contents.

Static version will be limited to main functions only + all client-side JS, and will serve for next purposes:

* Demo libraries distribution
* Delivery to client
* Fast setup, without NodeJS

[2015-02-02 09:21] operatino commented on #9
It was harder than I expected, but we're finally released our stable version and now focus on integrations, docs and screencasts. First, introductory screencast is already on our channel https://www.youtube.com/watch?v=y4KHmX8vCc0

[2015-02-02 09:28] operatino opened #88 "Integration with DSS, CSS documentation parser"
As SourceJS plans to support all of Style Guide features available in other tools, we will start from most popular approach - CSS documentation parsing.

During investigation of the current state of SG tooling, I found very useful tool for us - https://github.com/darcyclarke/DSS. Which allow to parse any CSS documentation into structured JSON:

[code]

compiles to

[code]

This JSON will be then u

[2015-02-02 09:31] operatino opened #89 "Solve problem with JSdom installation on Windows"
To make SourceJS setup on Windows as comfortable as on Mac, we need to solve JSdom compilation issue, which causes most of problems.

Possible solutions:

* Prepare SourceJS portable with docker, so engine will be always configured in same environment (Ubuntu)
* Found an alternative JSdom module, which is not compiled during installation

[2015-02-02 09:34] operatino opened #90 "index.md support"
Currently SourceJS supports Markdown only in special sections, like

[code]

But to follow other tools and creating more pleasant experience for Markdown fans, we need to add full support of `index.md`, instead of `index.src`.

The task is to compile Markdown file to SourceJS compliant Spec, which is not so hard. Possible realization:

Add checking for index.md on request -> compile MD to HTML wit

[2015-02-05 08:25] #41 closed

[2015-02-09 09:39] XOP opened #93 "Search improvements"
Search should be operated in two modes
- default minimalistic (searches through titles and tags)
- full, separarated instrument with user filters (involves previews and search results based on full document, and it should consider popular word mistakes as well - "clever input")

It should be very transparent task to get to full search page. Also, consider making it the entry point to the Source (m

[2015-02-09 09:49] XOP opened #94 "Code preview enabled by default"
make it clear to use code preview functionality on examples, not on navigation.
using or hiding theese actions should be user-configured (or by user modes)

Plus, make it available to see linked documents, such as *.js / *.css / *.tpl files
(tpl  - any template files) The only controversial point is using one file for multiple examples and vice versa. Guess it should be somehow set in spec section

[2015-02-09 10:04] XOP opened #95 "Favourites"
Similarly to any modern browser, this feature has been designed to make access to the most used documents more convenient.

Basic features:
- add / remove specs to / from "favourites" section
- placement of "favourites" is configurable; by default - most of the main page, reflected in toolbar
- "favourites" can serve in two modes - user-configured and automatic, which considers frequency of specs

[2015-02-09 10:22] operatino commented on #93
We can add `description` field for indexing in minimalistic search as well, and even probably add some smart typo fixing. With current search possibilities plus few improvements on top, we will cover all needs for searching even through big components library.

I agree that filters could be useful, and we're already planing to separate catalog searching, to limit the scope. But complex filter syst

[2015-02-09 10:28] operatino commented on #94
I'm already working on new layout for source code showing, with tabs like in examples of  https://angularjs.org. Button from navigation page will just switch `show all` mode, which then could be saved to localStorage.

You already can define code block to be visible by default like that:

[code]

But I will also add an option for configuring source code show states, so you will be able to configur

[2015-02-09 10:33] operatino commented on #95
I like this idea, really useful for big teams and libraries.

Since SourceJS could be extended quite deeply with plugins, and this feature is mostly focused only on big libraries, it's better to create a separate plugin for that. As you can define back-end, front-end and middleware from plugin, you will have everything you need for this feature.

[2015-02-09 11:10] cheshirsky commented on #9
Like!

[2015-02-09 13:04] cheshirsky opened #96 "Move all data to single DB"
We shell find some tiny, 'easy-to-use' DB, which fits following requirements:
 - DB is just a simple key value storage;
 - Extremely easy to use (with nodeJS);
 - Easy to install "out of the box";

It would be great to have some kind of API for it also.

[2015-02-11 15:09] operatino commented on #90
Already working on it https://github.com/sourcejs/Source/tree/operatino/markdown-support

[2015-02-11 15:14] operatino opened #98 "Create SourceJS portable version with docker"
We need to create an alternative, easy to install solution that won't depend on specific environment setup.

I plan to use pre-configured virtual machine, organized with Docker, with this configuration:

* Ubuntu
* Installed Git, Node.js, Mongo (or other DB)
* Installed SourceJS

Intended workflow:

* Install Docker
* run `docker run`

This problem inspired by issues with setting up SourceJS on Wi

[2015-02-11 15:15] #9 closed

[2015-02-11 15:15] #21 closed

[2015-02-11 15:25] operatino commented on #89
Decided to go for both solutions, we will use Docker for fast install #98 and replacing JSdom to https://github.com/cheeriojs/cheerio

[2015-02-11 15:25] #89 closed

[2015-02-11 15:31] operatino opened #99 "Replace JSdom with Cheerio"
To achieve more pleasant experience of SourceJS installation and to do stuff more efficiently in terms of performance, we chose migration to https://github.com/cheeriojs/cheerio from JSdom.

Current modules that needs to be refactored:
* Clarify - uses JSdom to run universal spec parsing script. Will be most difficult to rewrite
* read.js middleware - adds some runtime processing of Specs before s

[2015-02-16 14:44] operatino commented on #83
Will be done with git dates feature.

[2015-02-16 20:39] operatino commented on #59
Documentation and examples of plugins and middleware http://sourcejs.com/docs/api/plugins

[2015-02-17 00:09] operatino commented on #90
Done #100

[2015-02-17 00:09] #90 closed

[2015-02-17 00:10] operatino commented on #99
Index.md support already uses cheerio #100

[2015-02-17 09:18] operatino opened #101 "Add new Spec watcher for re-indexing navigation tree"
Currently to have navigation updated you need to restart app or visit main engine page, to make navigation update process more obvious, we should add a watch process.

After watch process notices that new Spec was added, we will trigger navigation re-indexing.

This should be done after moving indexing process to separate process #83.

[2015-02-22 12:43] operatino opened #102 "Fix expressjs debug mode"
SourceJS app does not expose logging from expressjs debug mode http://expressjs.com/guide/debugging.html

[2015-02-22 22:26] operatino commented on #101
Done 45ea069a0847cbfa17e36076bbac2b54c4ab5d2f

[2015-02-22 22:26] #101 closed

[2015-02-22 22:59] operatino opened #104 "Nav highlight does not work on first nav items"
In cases when there is not much content before first section, highlight of first sections in inner navigation is not working after click.

Steps to reproduce:
1. Go to http://sourcejs.com/docs/base/
2. Click to inner navigation section 3.
3. Click to inner navigation section 1.
4. First nav item is not highlighted and URL is not updated.

@fromanywhere

[2015-02-22 23:27] operatino opened #105 "Add custom syntax for adding classes in Markdown"
To support this kind of custom SourceJS markup:

[code]

[2015-02-23 09:18] operatino opened #106 "Server side navigation rendering"
We should start moving some DOM processing to server-side to unload client. One of most annoying thing for now is loading spinner on navigation pages, we could do links list rendering much faster with server side rendering.

Basically, we need to move our navigation HTML rendering script from client side to server side following the same conventions http://sourcejs.com/docs/data-nav/.

[2015-02-25 09:00] operatino commented on #105
@mistermark, could you please leave your thoughts about other custom syntax imporvements for markdown? Like includes that we discussed.

[2015-03-03 19:10] operatino opened #109 "Add catalogue (bundle) level settings"
We treat SourceJS as a platform that may contain different component libraries, even from different repos. Currently, it's only possible to configure all specs together from `options.js` or separate specs from `info.json`, which is not so comfortable to configure.

To be more flexible in terms of managing multiple bundles in one instance, we should provide catalogue level options.

It must be poss

[2015-03-06 10:23] operatino opened #110 "Test and do some examples with ejs includes in .src files"
Since .src files are always rendered through EJS, theoretically it's possible to use includes feature in specs.

Need to test it and do some usage examples.

If somebody will notice problems with that, please leave your feedback here. Also would be useful to hear about use cases.

[2015-03-06 10:57] operatino opened #111 "Scope all engine javascript into separate requirejs context."
We should have no conflict between engine JS and examples code.

[2015-03-11 06:15] operatino opened #112 "Fix main mobile-tablet issues with current SourceJS page layouts"

[2015-03-11 06:30] operatino opened #113 "Add bootstrap library doc example"
With showcase of new features, including DSS and jade plugins.

[2015-03-12 12:46] operatino commented on #104
Fixed by changing safe scrolling coordinates. Might need some deep refactoring later, if first section position will get closer to the top of the page.

[2015-03-12 12:46] #104 closed

[2015-03-14 10:47] #85 closed

[2015-03-14 10:49] operatino opened #116 "Implement client-side package management"
Implement Bower

[2015-03-14 10:49] operatino commented on #88
In progress.

[2015-03-14 10:54] operatino commented on #38
Published first draft https://github.com/sourcejs/sourcejs-dashboard-graphics

[2015-03-14 10:55] #93 closed

[2015-03-14 10:55] #95 closed

[2015-03-14 11:05] operatino opened #117 "Add user middleware execution order control"
Since user could have multiple middleware plugins in one SourceJS instance, we should provide control over their execution order.

It could be done with custom configuration, containing names and order number + separation of middleware types.

First time to implement: renderers of custom templates like jade, markdown and etc. Since other middlewares relies on HTML as an input, we should provide so

[2015-03-15 13:00] operatino commented on #88
Done https://github.com/sourcejs/sourcejs-contrib-dss

[2015-03-15 13:00] #88 closed

[2015-03-15 13:01] operatino commented on #109
Do an info.json nested merging, so each spec in nested catalogue will extend parent configuration.

[2015-03-15 14:05] operatino commented on #23
Since `jsdom` latest version (0.4.0+) now use [io.js](https://iojs.org/en/index.html) instead of [Node.js](http://nodejs.org/) they were able to solve Windows install problem.

So alternatively to solution with pre-build binaries, you can chose using io.js for running SourceJS on Windows. To make it work, follow these instructions:

1. Install [io.js](https://iojs.org/en/index.html)
2. Edit `sourc

[2015-03-19 07:25] mistermark opened #118 "Separate functional binding from styling"
In a lot of components there's a functional binding by classnames. When these classnames are removed the styling also breaks, and vice versa.

It would be a huge improvement if the styling was disconnect from the functional binding with classes. I just want to be able to remove a class name, along with it's styling, and not have to worry about some functionality breaking.

Maybe introduce somethin

[2015-03-19 09:04] operatino commented on #118
Hi,

Nice point Mark! We didn't had priority on styling before, but seems like it's time to work on it. We will need to review our codebase and separate style classes from special `.js-hooks`.

I could plan it roughly around 0.7.0 release in May. Until that, you are free to leave PR's separating most important things for you.

Also, on your own risk, you can remove SourceJS UI CSS and replace it w

[2015-03-19 09:17] operatino commented on #87
Could be done using grunt/gulp plugin separately. Approximate architecture and build process steps:

1. Run SourceJS
2. Go through all specs listed in `file-tree.json` pulling with `curl` contents via HTTP and generating same catalog structure but with generated `index.html` as spec sources.
3. Remove plugins with dynamic apis like Clarify, Comments, Crowd-voice.
4. Move assets folder to static ro

[2015-03-20 08:38] cheshirsky commented on #87
Do you suppose this scenario can ease the process of "nodeless" static delivery?

[2015-03-21 15:58] operatino commented on #113
Done, but without bootstrap yet http://sourcejs.com/specs/examples/

[2015-03-21 15:58] #113 closed

[2015-03-21 19:55] operatino commented on #110
Added pre-render support with new EJS http://ejs.co. Now you can use includes and all EJS features in any Spec pages.

[2015-03-21 19:55] #110 closed

[2015-03-21 22:13] operatino opened #119 "Process <markdown> tag the same way as *.md files"
Since we now support includes, it may be very useful to render Specs like this:

index.src
[code]

Where already supported `<markdown>` should render page the same as `.md` middleware, with corresponding enhancements.

We should also thing about custom EJS helpers, like `includeMD`.

[2015-03-21 22:17] operatino commented on #87
Yes, this scenario is very useful in static style guide generators, and allows anybody to view components library without additional setup. We're definetly planning to do so at Backbase, for bundling component bundles together with static SourceJS instance.

This static instance will still be quite limited though, but I believe we could achieve nice result with a small amount of efforts.

[2015-03-22 00:54] operatino commented on #111
Draft version in branch source-tools-exclude

[2015-03-22 02:30] szarouski opened #120 "Suggestion: add gitter chat so that people can collaborate and ask questions"
Hi, gitter is quite a great tool which allows people with github account to chat and ask questions specific to current repository. Couple of examples: https://gitter.im/babel/babel, https://gitter.im/tj/co, https://gitter.im/iojs/io.js.

It is very easy to add gitter badge to sourcejs repo, go to https://gitter.im/, sign in with github account and install github application. Click create a room at

[2015-03-23 09:40] operatino commented on #118
I reviewed the question again, and came to conclusion, that it won't be possible to separate all functional classes from styling using special `.js-*` hooks. Since some important markup classes like `.source_section` and `.source_example` must be easy to use, as they could be written by hand. But we will try to cover most of the UI markup using the separation pattern and maybe also provide an alte

[2015-03-23 09:52] operatino commented on #120
Hi, you got a nice point here.

Actually we already have Gitter chat setup, and we had a badge in README as well - https://gitter.im/sourcejs/Source.

We removed the badge because of low activity on Gitter, and poor popularity of it among developers. For questions it's better to use issues, since it's easier to navigate through them, but feel free to use Gitter as well.

You also could always ping

[2015-03-23 09:52] #120 closed

[2015-03-24 11:54] cheshirsky opened #121 "Memory leaks checking"
It seems like there is a memory leak somewhere at client side scripts.

Having briefly looked through my $.cache, I mentioned that it was too fat Due to that fact, it looks like incorrect jQuery usage (m.b. it is cycled link or incorrect removing). I suppose, we have to keep an eye on it.

[2015-03-24 12:03] operatino commented on #121
Please provide a test case. And check if it's related to some of the plugins.

[2015-03-26 11:04] operatino commented on #112
Decided to postpone Spec pages full optimization for mobile, fixing only minor issues with current layout.

If fully supported mobile layout is essential on your project, please fork SourceJS UI styles and modify them for your needs, or create a pull request.

[2015-03-26 13:42] operatino commented on #98
Locally user could just store `user` folder and vagrant set-up script. After the run command, virtual machine symlinks local user folder, and runs incapsulated SourceJS.

[2015-03-26 14:01] operatino commented on #60
It's also possible to just set SourceJS to node_modules, and use npm scripts to run it.

`package.json`
[code]

Then just run `npm run-source` from `user` folder.

[2015-03-27 00:47] operatino opened #122 "ngdoc integration"
Make ngdoc https://github.com/angular/angular.js/wiki/Writing-AngularJS-Documentation integration, using same approach as with DSS plugin https://www.npmjs.com/package/sourcejs-contrib-dss.

[2015-03-27 01:54] operatino commented on #112
Done 9e8bff97767d7e8e3bb0b02cc8649f7932c015f4. Waiting till next stage with full mob layout support.

[2015-03-27 01:54] #112 closed

[2015-03-27 15:50] operatino opened #123 "Add EJS helpers for Specs pre-rendering + docs"
Continuing with EJS pre-rendering set-up for specs, that allows to use includes in `index.src` and other custom logic, in one of the next releases we plane to add some helper functions like:

* `includeMD(pathToFile)` - for including AND processing markdown files in `index.src`
* `includeFiles(glob)` - for including a list of files one by one using glob
* `includeExample(glob)` - for including a l

[2015-03-27 15:51] operatino opened #124 "Prepare JSdoc docs section for covering internal APIs"

[2015-03-27 16:49] operatino opened #125 "Search box activation problem"
If you focus on search field until JS logic is initialised, even after the actual search module evaluation, you won't get running autocomplete before you re-focus it again.

Current behaviour:

1. Open any page with search in header
2. Fast focus the search input field
3. Type something.
4. Autocomplete wont appear even when `search.js` module is executed.
5. To make it work, you need to re-focus

[2015-03-27 16:57] operatino opened #126 "Spec `info.json` watcher does not work when copy files in Webstorm"
Using Webstorm IDE to move and copy `info.json` files, SourceJS Spec watcher does not trigger `chage` event, and navigation tree is not updated.

Also, watcher should be moved in separate process, so it won't break main app on error, but re-run instead.

[2015-03-28 12:38] operatino commented on #119
Probably will be implemented using custom EJS helpers #123.

[2015-03-28 17:00] operatino opened #127 "Add spec load event postpone in globalNav and codeSource modules"
To prevent page from jumping on load, and make scroll to hash feature for more stable, mentined plugins must follow Spec Load Event API http://sourcejs.com/docs/api/load-events/#emitting-events!

[2015-03-28 17:09] operatino commented on #127
+ Write test for scrollToHash to run on complex page with many rendered content.

[2015-03-28 17:56] operatino opened #129 "Add build number somewhere in page"

[2015-03-29 10:19] operatino commented on #127
* Re-test scrollToHash after refresh in all browsers, and tune specific edgecases

[2015-03-29 10:31] operatino commented on #120
Added a badge again, also to other project repos. Hope it will be used more than last time.

[2015-04-02 16:59] #119 closed

[2015-04-07 02:51] szarouski opened #130 "Issue with generated urls when running node via powershell"
When I get `api/specs/raw` json data, it contains local file paths instead or urls. I digged through the code a bit and found out why it is happening. In [file-tree/index.js](https://github.com/sourcejs/Source/blob/master/core/file-tree/index.js) there is a line:
[code]
The issue is happening when _specPath is different from normalizedPathToApp, for example when drive letter has different case:
_s

[2015-04-07 08:51] operatino commented on #130
Hi, thanks for your report.

It's always an issue working with file paths in cross-platform environment, first the back-slashes and now different letter case. It's really strange that node fs returns different paths in this situation.

Anyway, the only solution will be normalizing the case as well, applying `toLowerCase()` in paths at `file-tree/index.js`.

I suggest you hotfixing it locally for n

[2015-04-07 10:26] operatino commented on #85
And here comes the plugin https://github.com/sourcejs/sourcejs-contrib-browser-sync

[2015-04-07 12:28] szarouski commented on #130
Hi Robert, powershell was preinstalled on my windows 8.1. Here is a PS version:
[code]

[2015-04-09 12:38] operatino opened #131 "Parse common meta fields form package.json or bower.json"
To not repeat some of the fields like `title`, `description`, `keywords` in `info.json`, we may parse this info from `package.json` and `bower.json` following commonJS standard.

This will allow not having `info.json` at all, so we need to think on how to determine if directory could be rendered as Spec page. Here's some draft checking logic:

1. Check if it has `info.json`
2. If not, check if it

[2015-04-09 12:44] operatino commented on #131
@dragosh

[2015-04-15 14:41] operatino opened #133 "First HTML API test fails on clean set-up"
Need to test how new data from HTML is saved during the first (ever) run.

[2015-04-16 19:40] Teknologica opened #134 "Body tag is doubled inside of the specs template via wrap.js"
While checking the source code to guide myself in my own SourceJS implementation I noticed that the template system was injecting the `body` tag into the `content` variable.

I doubled checked the live documentation to make sure it wasn't just my local and I found the same bug in the live version: taken from the source code of http://sourcejs.com/docs/spec/
[code]
After some digging through the co

[2015-04-17 08:16] operatino commented on #134
Hi,

Thanks for highlighting the issue and the solution provided. This comes from JSDom, that we will remove in upcoming 0.6.0.

JSDom makes it's own DOM fixing, like browsers are, this is when additional body tag is injected. And we definitely don'y want to keep this magic, and leaving more space for bugs and leaks like that.

Could you please create a Pull Request with the fix you mentioned?

[2015-04-17 08:20] operatino commented on #126
@cheshirsky, this is one of the bugs I mentioned in our Skype talk.

[2015-04-17 15:29] operatino commented on #134
Merged into `0.5.3-dev`

[2015-04-17 15:29] #134 closed

[2015-04-22 22:20] #125 closed

[2015-04-22 22:20] operatino commented on #125
c804668b0c54b61ab247f0b70e92a654f32936ca

[2015-04-25 10:55] operatino opened #138 "Prepare built jsdom binaries for Node.js 0.12 (windows)"
Following the official solution for solving JSdom problems on windows https://github.com/sourcejs/Source/issues/23, we need to re-build binaries (https://github.com/mihaifm/jsdom_binaries) for node 0.12+.

[2015-04-25 11:13] operatino commented on #130
I digged deeper into the problem and noticed that starting from Node.js 0.11.x `path.join` is changing the case of the disk name.

[code]

Following my tests, it's true both for cmd and powershell on windows 8.1. Here's also a similar issue in Node.js project - https://github.com/joyent/node/issues/7031.

Since Windows is case-insensetive, then I believe lowering the disk name by default will be a

[2015-04-25 11:16] operatino commented on #138
@szarouski, as I understand, you already have experience running SourceJS with Node 0.12+ on Windows? Could you please provide the archive with built JSdom, so we could share it with other users?

Current binaries from this project https://github.com/mihaifm/jsdom_binaries does not support Node.js 0.12+.

[2015-04-25 11:31] #130 closed

[2015-04-25 13:30] szarouski commented on #130
Awesome, thanks for double checking

[2015-04-25 14:24] operatino commented on #126
I re-checked again, currently it's working. Only thing that is confusing, is that to see new spec in list, you need to first add spec file like `readme.md` or `index.src.html` and only after `info.json` file.

[2015-04-25 14:25] szarouski commented on #138
[Here you go](https://github.com/szarouski/jsdom_binaries). To make binaries I used the same versions of jsdom and contexify as currently used for source.js. I also think that it is not a big issue for Windows users to [install node-gyp dependencies](https://github.com/TooTallNate/node-gyp#installation) and let contexify build on their own machines.

[2015-04-25 14:32] operatino commented on #126
Another use case - when user renames the folder, watcher does not get any events.

[2015-04-26 10:18] operatino commented on #138
@szarouski Thank you! I will check if they work with my testing Win environment.

[2015-04-26 12:23] operatino opened #139 "Update file-tree with watch, if spec folder was renamed"
Current spec watcher is checking all `info.json` files, but if parent folder was renamed, we lose the Spec from file-tree, since `info.json` does not trigger any path change events.

Need to improve watcher, and cover this use case. Probably we will need to watch all the folders additinaly to `info.json`.

[2015-04-26 12:23] operatino commented on #139
First came up from #126.

[2015-04-26 12:24] operatino commented on #126
I solved problem with the order of Spec files creation, and created separate task about folder name change.

[2015-04-26 12:24] #126 closed

[2015-04-26 12:43] operatino opened #140 "Optimize file-tree parser and separate it to sub-process"
Currently full file-tree processing can take more than 1s on large projects, and since it runs synchronously, it block everything else during the execution.

We should make this process async in all cases, except first app run, when no file-tree defined yet.

@cheshirsky

[2015-04-26 16:38] operatino commented on #139
Current workarounds:

1. Restart app to re-index nav
2. Use "Update navigation" on navigation pages starting from 0.5.3 (currently in dev branch)

[2015-04-26 16:59] operatino opened #141 "Add optional anonymous user statistics"
Ask on first engine run if user does't mind, and then gather statistics of activity and features usage.

[2015-04-26 17:20] operatino commented on #138
I Verified new binaries, and they are working as expected. Updated instructions in https://github.com/sourcejs/Source/issues/23

[2015-04-26 17:20] #138 closed

[2015-05-13 13:25] tcorral commented on #99
Could you @operatino assign me this issue, please? I could not do it by myself.

[2015-05-13 15:29] operatino commented on #99
Done! I've also added you to contributors groups, so you now should be able to interact with tasks. If you chose this task to solve, come over to discuss the details.

Or you can first jump in and see how it works by yourself, here are the files to check:

`sourcejs/core/middleware/clarify.js` - gets the spec page, runs client side parser (`window.SourceGetSections`) and returns an object with HTM

[2015-05-14 17:35] operatino opened #142 "Define new options api interface and BE-FE options sharing strategy"
Currently we break up all the settings for back-end modules and front-end modules, which makes configuration a bit more complex, especially with plugins. Proceeding with this structure, users always will need to think about where they should put config in.

I would like to merge BE and FE options, for easy sharing common parameters. If plugins uses both environments, it could have only one simple

[2015-05-14 17:36] operatino commented on #142
@cheshirsky, what do you think about it?

[2015-05-14 17:51] operatino opened #143 "Disable PhantomJS HTML parser by default"
In SourceJS 0.4 we introduced HTML API, that allows to cache the results of all code examples from the specs (`.source_example` blocks). Using [this API via REST](http://sourcejs.com/docs/api/rest-api/#get-html), engine allows to cover custom usage scenarios like testing code in environments where it's not possible to dynamically render HTML or using tools like [Lego](https://www.youtube.com/watch

[2015-05-14 17:52] operatino commented on #143
HTML parser is now prepared for separation and turned off by default 4e4d720811acc344fe1e193c50a5c2562eb74db2

[2015-05-14 17:52] #143 closed

[2015-05-14 18:35] operatino commented on #133
Cannot reproduce.

[2015-05-14 18:35] #133 closed

[2015-05-14 19:20] #129 closed

[2015-05-16 13:42] operatino opened #144 "SourceJS CLI"
Create a helper CLI tools, for managing SourceJS installation as an npm package.

Proposed commands

* `sourcejs run` - searches `sourcejs` in current projects `node_modules` and runs the engine. Could be used for running regular setup within configured Style Guide platform, or light setup, when SourceJS is used to describe one standalone component (or bundle)
* `sourcejs install` - installs sourc

[2015-05-16 13:42] operatino commented on #144
@szarouski @cheshirsky

[2015-05-16 13:54] operatino opened #145 "Use SourceJS for describing separate UI components"
Currently SourceJS expects to have a basic set-up with custom configured `user` folder. This is great for building collaborative component libraries and Style Guides, but is a bit complicated for defining stand-alone component (or bundle) documentation.

**Example usecase:**
Developer creates a React Component to be shared with the open source community. In his team, he could add this component to

[2015-05-16 21:02] operatino commented on #109
Basic support landed to 0.5.3-dev 8aaccab97a3258fd8da5b2c3763b0262b5a246f1. It's now possible to define custom views and other settings per bundle.

[2015-05-16 21:03] operatino commented on #99
Branch with temp JSDom cleanup - 0.5.3-bb. Clarify feature is turned off there, as a temp solution. And we also need to re-check how pages with duplicated head are rendered.

[2015-05-17 11:26] operatino opened #146 "Add log warns if user tries to configure static option"
SourceJS allows to change a lot of options on user level and on bundle levels (comming in 0.5.3), making your environment very scalable. But there are some edge cases, when it's not possible to override an option, since it is initialized only during the app start or specific module load. That means that some options is only possible to configure from SourceJS root.

To notify SourceJS user that he

[2015-05-17 17:41] operatino commented on #109
Done.

Now it's possible to define `sourcejs-options.js` file anywhere in catalog, and during the spec request engine will merge all settings following up the tree. File structure is the same as `options.js`.

`info.json` now also could have local options, overriding same conf schema. Just add `sourcejs` key with any assets or plugins options.

There are still few limitations, but bundle options s

[2015-05-17 17:41] #109 closed

[2015-05-19 00:10] operatino opened #147 "Remove req.url overriding in read.js"
Currently we're overriding Spec request url object for no reason. It should be not overridden at all.

I will remove this hack in next major release.

[2015-05-19 00:11] operatino commented on #147
Since some plugins are relying on this hack, I will need to update some of them:

* sourcejs-jade

[2015-05-19 22:49] operatino commented on #99
I replaced JSDom with cheerio in `operatino/no-jsdom-in-wrap` branch. Spec is now loading much faster as well, keeping `<head>` section feature, and HTML normalization, same as we had in JSDom.

But I'm planning to remove all those custom processing from `wrap.js` in 0.6.0, moving them to plugins. Most probably I will create two small plugins based on cheerio and jsdom.

[2015-05-25 15:41] operatino commented on #144
Should be made with Ronin https://github.com/operatino/ronin

[2015-05-25 15:49] operatino opened #148 "Remove section folding feature"
Feature for folding separate sections was introduced long before Clarify, to allow better focus on currently developed component. Since now we have powerful alternative for this use case, and Clarify works really well for stand-alone testing, I propose section folding feature to be deleted.

[2015-05-25 16:00] operatino opened #149 "Alternative style encapsulation technique to iframe/shadow dom"
Spec pages with `source_example` sandboxes are built in such way that SourceJS engine scope should not touch interfere with global CSS and JS. With CSS it's achieved thanks to complex mixins, that resets all global CSS and re-apply local, without touching `.source_example > *`, and JS will be totally hidden behind single JS object in 0.6.

The best way to encapsulate components and SourceJS UI is

[2015-05-25 16:01] operatino commented on #80
Maybe should be done first as a plugin before moving to core.

[2015-05-25 16:02] operatino commented on #118
One of the main v,0.7 features will be easy theming and styling of SourceJS UI. This will come handy with upcoming redesign.

[2015-05-25 16:06] operatino commented on #148
This will also fix bug with typography markup which is not wrapped in `p/div`:

![image](http://d.pr/i/zuwz+)

[2015-05-25 16:10] operatino opened #150 "Allow `thumbnail` option in `info.json`"
Allow configuring custom thumbnail path/name in `info.json`.

[2015-05-25 17:17] operatino commented on #146
Added warn message and limited core options overriding from `sourcejs-options.js`.

[2015-05-25 19:38] operatino commented on #142
We decided to make all the options private by default, and allow to configure separate fields, separating manifest and actual, configurable options. Plugin options will be shared to client-side as well, and a bit later, we will define a best practice for structuring configuration.

We also will be restructuring current options object, hiding something by default, and re-grouping parts.

[2015-05-25 20:43] operatino opened #151 "Render data from `info.json` in spec"
If title or description fields are provided in `info,json`, auto-render them on page.

[2015-05-26 23:34] tcorral commented on #99
Hi @operatino . Could you check why the tests are not working in master branch? I am trying to execute the test to know if the changes are ok and work as expected but seems that something is broken in master.

[2015-05-27 00:44] operatino commented on #99
@tcorral, you need to run the app first, and then trigger the tests, they should be passing. In 0.5.3 I already updated `npm test`, so it automatically runs the app before the tests.

[2015-05-31 08:29] tcorral commented on #99
I have tried to make a clean checkout of 0.5.3-dev branch and execute the npm test but I get this error 'ENOENT, no such file or directory '/Users/tomascorralcasas/WebStormProjects/Source/user'

[2015-05-31 09:05] operatino commented on #99
Just follow the install instructions to get right SourceJS set-up http://sourcejs.com/docs/base/#install, or in your case, you will need to just clone this repo in `sourcejs/user` folder https://github.com/sourcejs/init.

BTW, 0.5.3 is already released and 0.5.3-dev branch is now deleted, I have left only freezed tag for it.

[2015-05-31 09:07] operatino commented on #99
Reach me through Skype haritonov.r or email r@rhr.me for more details.

[2015-05-31 09:21] tcorral commented on #99
ok

2015-05-31 2:07 GMT-07:00 Robert Haritonov <notifications@github.com>:

[2015-06-01 20:59] operatino commented on #23
With 0.5.3 we released special `no-jsdom` version, follow there instructions to get it working http://sourcejs.com/docs/base/#installing-on-windows.

We almost completely removed JSDom dependency, and 0.6.0 version will be released without it, making it easy to set-up on any environment.

[2015-06-11 15:00] mik01aj commented on #149
+1. Isn't this a duplicate of https://github.com/sourcejs/Source/issues/149?

[2015-06-11 15:20] operatino commented on #149
@mik01aj, it's just I'm a bit concerned about Shadow DOM stability and browser support. Need to investigate.

[2015-06-11 15:27] mik01aj commented on #149
Well, it is [not directly supported in IE, Firefox and Safari](http://caniuse.com/#search=shadow%20dom), but it's [polyfillable with Polymer's webcompoents.js](https://github.com/webcomponents/webcomponentsjs).

[2015-06-18 12:23] mik01aj opened #155 "Make core middlewares configurable (for e.g. custom Markdown tags)"
Originally suggested in https://github.com/szarouski/sourcejs-react/issues/5#issuecomment-109986079

I'm not sure whether there would be any more use cases for that, aside the Markdown custom tags... Or maybe we could even narrow this to only handling the code in `example` in some special way.

[2015-06-19 15:38] mik01aj opened #156 "When I enter a script tag in my Markdown spec file, the footer gets repeated. A totally weird bug."
And this happens *before* my js file is executed. I mean, even if I set a breakpoint on the 1st line, the breakpoint is hit when the footer is already duplicated. I have no idea what is causing this. This is somewhat related with my JS (because when loading it fails, this error doesn't happen).

It looks like this:
![screenshot 2015-06-19 17 20 44](https://cloud.githubusercontent.com/assets/302741

[2015-06-22 14:50] mik01aj commented on #156
Looks like this has something to do with RequireJS. My Markdown had just the script tag, and the script was a bundle built using Browserify with the `standalone` option, which wraps all code in [UMD](https://github.com/umdjs/umd). And this UMD looks for module system, finds RequireJS, tries to define an asynchronous module, and somehow fails.

I realize that my question could have been more genera

[2015-06-22 19:33] operatino commented on #155
From Gitter:

How do you think, If I'll add another type of plugin entry file that will be executed during markdown processing, will it be enough for you? I can do same as with middleware plugins, including plugins in specified step of the page rendering.

In plugins we have special convention for that:

[code]

[2015-06-22 19:40] operatino commented on #156
Thanks for the bug report, I also noticed it few times before, but could reproduce it after. Could you please provide a bit more details about the code? I would like to investigate it and fix ASAP in 0.5.4.

You can link it directly to spec file (`readme.md`, `index.src.html`), or into parent `.ejs` template, which is especially useful if you need to link same files to few specs.

But in some edge

[2015-06-22 23:09] szarouski commented on #155
@operatino  :+1:

[2015-06-23 07:31] mik01aj commented on #155
@operatino The pic is so poor quality you don't see anything! :P

![screenshot 2015-06-18 16 49 17](https://cloud.githubusercontent.com/assets/3027415/8300967/9f6173b0-198a-11e5-9d20-4a3dc4536f7f.png)

[2015-06-23 09:14] mik01aj commented on #117
+1

[2015-06-23 21:56] operatino commented on #155
I made markdown processing more configurable so it's now possible to define custom language renderers or re-define some part (or whole) renderer. I decided that this is the safest way, which also will allow to do only small changes, instead of overriding whole markdown renderer.

Check this example plugin and it's install instructions https://github.com/sourcejs/sourcejs-example-md-extension. @sza

[2015-06-24 08:05] operatino commented on #156
I'm trying to reproduce it, but still with no luck. I can assume it's an issue with broken HTML coming from markdown, will try to investigate it deeper.

[2015-06-25 10:04] mik01aj commented on #155
@operatino I just downloaded and installed your example plugin and it works! :) I will now work on extending it.

[2015-06-25 15:29] mik01aj commented on #156
The HTML coming from the server is correct, I checked it. There is something strange happening on the client side.

[2015-06-26 08:58] mik01aj commented on #94
+1. I don't understand what exactly is planned, but I just wanted to say that I'd like to see these little links by defaut. It's really bugging me that in order to see the code, I have to show ALL the examples and then scroll back to the place where I was (and it's hard on big pages).

![screenshot 2015-06-26 10 56 30](https://cloud.githubusercontent.com/assets/3027415/8374018/1878ea76-1bf2-11e5-9

[2015-06-26 13:12] mik01aj opened #158 "Source's HTML processing breaks inline SVG"
I guess it might be connected with Cheerio or whatever you use, but I'll just post it here.

When I put this in my spec:

[code]

I get this in HTML (as in HTTP response, this is not from Browser DOM):

[code]

And the SVG really looks different.

[2015-06-26 15:18] mik01aj commented on #155
I just published a new plugin for React. It is based on your example.

https://github.com/mik01aj/sourcejs-md-react

[2015-06-26 16:08] operatino commented on #155
@mik01aj Great thing! Do you have plans to merge it with @szarouski plugin?

I will close this issue, since it's solved and working.

[2015-06-26 16:08] #155 closed

[2015-06-26 16:10] operatino commented on #158
Yeah... Currently we're using JSDom inside `wrap.js` middleware, and it does some magic with normalizing the DOM. I already have a ready solution on cheerio, which is much faster and should not do any unpredictable magic.

I will try to add it in `0.5.4-dev`, and check if it fixes the issue with SVG. This is really critical.

[2015-06-28 00:51] szarouski commented on #155
@operatino I think our plugins should be kept separate. They are different - one allows to run specs as jsx, another to process jsx from md files. I think both solutions are good and will find their users.

[2015-06-29 08:01] mik01aj commented on #155
@operatino I think that this API could be refined. I had to put 4 declarations in `options.js`, and every user of the library will have to do it too... Furthermore, my solution is not perfect, as I keep the init code in some global vars, and it means that if you omit the `jsx-init-server` or any other `init` section, the SourceJS server will use whatever was used in the last displayed page. I thou

[2015-06-29 08:17] operatino commented on #155
@mik01aj I agree that it's not perfect, but I didn't found any other clean and simple solutions. It may become a mess if I'll have many includes around the codebase, that will `require` some convention-driven plugin files.

Another way was to allow plugins changing the options during app init, but it may be very dangerous, since could lead to unpredictable behaviour.

I wanted to keep clean custom

[2015-06-29 08:30] operatino commented on #156
I desperately try to reproduce it, but I can't. Could you please try to debug this JS file `sourcejs/assets/js/modules/headerFooter.js`?

It checks if header or footer already exists and injects it on client-side. This is left for legacy support of `index.html` specs. Later I will leave only server-side injection.

[2015-06-29 08:34] operatino commented on #122
@dmitryshimkin is currently working on JSDoc integration to SourceJS and extendable API that will allow to add NGDoc like fields.

Hope this plugin will going to make it's way to open source.

[2015-07-01 07:11] operatino commented on #60
In progress. 0.5.3 already has partial support for that. 0.6 will officially be base on npm module and sourcejs-cli #144.

[2015-07-01 07:13] operatino commented on #98
Played with this idea in previous hackathon, and already built an example Vagrant box with SourceJS pre-installed + few watchers for assets building and linting https://github.com/sourcejs/styleguide-ide/tree/master/vagrant-dist.

In nearest future light SourceJS box will be available for public use.

[2015-07-01 07:14] operatino commented on #146
Done in 0.5.3.

[2015-07-01 07:14] #146 closed

[2015-07-01 07:15] operatino commented on #36
Some work on custom plugin with JSDoc support is already in progress by @dmitryshimkin #122.

[2015-07-01 07:18] operatino commented on #8
I am now convinced that there's a demand for this feature. I'm planning to start some work on it around the end of the year,

[2015-07-01 07:19] operatino commented on #42
Should be paired with global redesign task (coming approx in autumn 2015).

[2015-07-01 08:34] mik01aj opened #159 "Make port, host and base URL configurable in options.js"
1. Port.
I know that setting a port is possible with the command-line `-p` option, but I'd like to have it in the config.

2. Host.
Listening on `localhost` instead of `0.0.0.0` would be useful not to have an open port to the whole world. Listening on a local IP would be useful to accept only requests from the local network (e.g. VPN).

3. Base URL.
Changing the base URL (that will be used for res

[2015-07-01 09:10] operatino commented on #159
Hi,

You can use core `options.js` as a reference to what could be configured https://github.com/sourcejs/Source/blob/master/options.js

1. Port is configurable both from options and with `-p`
2. I'm not sure what you mean, it is on localhost/127.0.0.1 by default. And this is not configured on app level.
3. Hm, this is nice point, and we have similar requirement for this. I will investigate this,

[2015-07-01 12:24] mik01aj commented on #159
Depending on the specified host, Source would then reply only to localhost, or only to local network, or the whole world. http://stackoverflow.com/questions/20778771/what-is-the-difference-between-0-0-0-0-127-0-0-1-and-localhost

I understand you don't call [Node's `listen` function](https://nodejs.org/api/http.html#http_server_listen_port_hostname_backlog_callback) directly, but your framework (e

[2015-07-01 12:44] operatino commented on #159
Ok, I will check this out, must be not that difficult, you can expect second article to be implemented quite soon on `0.5.4-dev`.

[2015-07-02 08:30] mik01aj commented on #155
There is a problem with this middleware. When I put a block like this in my spec:

[code]

The middleware receives triple  ``` ` ``` instead of an empty string.

[2015-07-02 18:31] operatino commented on #155
Most likely this is an issue with marked https://github.com/chjj/marked, the original dependency that renders Markdown into HTML. Could you please do a synthetic test with it?

[2015-07-03 07:03] mik01aj commented on #155
Ok, just reported.

[2015-07-03 08:56] operatino commented on #155
This is why I chose to control it from options, user define which renderers, from which plugins to use by himself in his own options. Plugins can't just override MD renderer without user's notice. Only the one which is set in options will be loaded.

[2015-07-03 09:28] mik01aj commented on #155
@operatino, by "overrideing the `renderer.code` method" I meant overriding using your newly-added setting:

        processMd: {
            marked: {
                renderer: require('sourcejs-example-md-extension/custom-renderer')
            }
        }

Now if I override `renderer.code` there, do the `languageRenderers` stop working?

[2015-07-07 13:14] issunboshi opened #160 "Duplicate body tag"
Hi,

I'm using Source to create a living styleguide and I really enjoy using it and how easy it is to use.

I have one problem, I have created a new view to display pages made up of individual components, however when I view a page within a browser it has two body tags. The one I have created inside of the view file and another which wraps any included files within the page. The view was duplicate

[2015-07-07 13:20] issunboshi opened #161 "Recommended production workflow"
Hi,

I have built up a component library using Source and am now ready to start building up pages which use the components.

My ideal workflow would be to use the EJS templates directly within my production pages so that there is no duplication of components. I just want to check if there are any guidelines on how best to do this within Source? My current preference is to create another directory

[2015-07-07 13:35] mik01aj commented on #161
I have my components in a separate npm module. My source documentation depends on that module, and whenever I need to require something, I use the `node_modules/my-frontend/...` path (and from js, I don't even need that). This way I can ship my components without the documentation, and thanks to `npm link` my documentation is always in sync with the components that I develop.

[2015-07-08 08:05] operatino commented on #160
Hi,

Thanks for the report. I'm trying to reproduce test case, but seems that problem is somewhere in included files. I can assume that somewhere there's an invalid HTML. Could you please share the zip file with files to include as well?

I could be a thing from JSDom, that is still used in 0.5.3, and will be remove in 0.5.4 or 0.6.0. Could you try to run your example with this SourceJS version? h

[2015-07-08 08:15] operatino commented on #161
Hi @issunboshi,

To be honest, I hadn't even thought about this approach in building pages in SourceJS :) So unfortunately, there's no specific guide about that.

But following your previous issue #160 with structure definition, your approach perfectly fits SourceJS workflow. Since the engine is quite scalable, you can play with own organazational process aligning it with specific use-cases.

We'v

[2015-07-08 08:17] operatino commented on #161
@mik01aj Do you only include your node components to other pages, or these components contains their own documentation inside?

[code]

We're following this approach with bower_components, where each item has it's own SourceJS compatible documentation.

[2015-07-08 08:17] #161 closed

[2015-07-08 08:40] operatino commented on #158
Can you please try to reproduce the bug with this SourceJS version? https://github.com/sourcejs/Source/releases/tag/0.5.3-no-jsdom

[code]

In this version JSDom is replaced with Cheerio, which don't mess up the HTML.

[2015-07-08 08:44] operatino commented on #155
@mik01aj In case you override `renderer.code`, `languageRenderers` will stop working. `renderer.code` contains this special logic in core https://github.com/sourcejs/Source/blob/master/core/lib/processMd.js.

[2015-07-08 10:01] mik01aj commented on #161
I have only `info.json` and `readme.md` (and the thumbnail) in my spec folders. The readme contains the documentation and all the necessary code to run the examples. And the frontend project contains only components and their unit tests (we don't have many, it's damn hard to write good unit tests for frontend).

[2015-07-08 10:08] operatino commented on #161
@mik01aj Didn't you tried to keep documentation right in node modules? In this case you won't need to maintain separate specs.

[2015-07-08 10:15] mik01aj commented on #158
With this version I get this:

[code]

So the `</path>` closing tag is missing. Chrome parses this as follows:

![screenshot 2015-07-08 12 14 56](https://cloud.githubusercontent.com/assets/3027415/8568092/023933ce-256b-11e5-8f75-4eede60cff13.png)

[2015-07-08 13:28] mik01aj commented on #161
This seems like a good idea, I'll try to change this structure when I have time.

[2015-07-08 15:43] operatino commented on #161
I'm asking, because in 0.5.4 I excluded `node_modules` from indexing (for navigation) by default. But it's configurable :)

[2015-07-08 15:44] issunboshi commented on #160
Hi @operatino,

Thank you for getting back to me so quickly. I have just updated Source as requested and I only have 1 body tag on my pages, so it's resolved.

Thank you.

[2015-07-08 15:44] #160 closed

[2015-07-08 16:07] operatino commented on #160
This is a limited version, without Clarify feature (http://sourcejs.com/specs/example-bootstrap-bundle/carousel/?clarify=true&sections=1). I will merge this fix into 0.5.4, so expect to have it in main release in few weeks.

[2015-07-09 12:47] issunboshi commented on #161
@operatino Thanks for getting back to me. I'll refine my current system and then post a blog/add something to the how-to's repo.

[2015-07-10 11:53] operatino commented on #158
I removed JSDom in `wrap.js` and bumped Cheerio version. Now this bug is fixed in `0.5.4-dev` branch, and SVG output is not broken following your example.

The only thing I see, Cheerio, which is pre-parsing spec contents, changes `<path></path>` to `<path />`:

[code]

In Chrome's DOM viewer

[!image](http://d.pr/i/1b1TZ+)

This should be not critical, since does not affect actual view.

[2015-07-10 11:53] #158 closed

[2015-07-10 11:54] operatino commented on #156
Could you please check it again in latest `0.5.4-dev` branch? I replaced JSDom with Cheerio, it could solve this strange issue.

[2015-07-10 11:54] operatino commented on #160
I now merged this fix to `0.5.4-dev`.

[2015-07-10 11:56] mik01aj commented on #158
Yes, changing `<path></path>` to `<path />` shouldn't break anything. Didn't test it yet, but what you write looks ok. Thanks!

[2015-07-20 05:15] custa1200 opened #162 "Ability to choose the CSS markup style"
While I used to be a massive fan of using underscores (_) to separate words in CSS classes with the advent of many libraries like Bootstrap and Foundation I changed to use hyphens (-) and am now more comfortable using it. Is there some design decision that stops source from taking the lead from other libraries/systems? Is there some way this could be configurable?

[2015-07-20 05:50] custa1200 commented on #76
I know this might sound crazy but would a simple/news/blog pages be a good edition. I think teams that are trying to tell the story of design through live code would probably find it beneficial to have some way to communicate with all consuming the specs.

[2015-07-20 08:12] operatino commented on #162
Hi,

Somewhere after 0.6.0, we plan to make SourceJS UI very configurable and easy to style, which will allow to easily override all the markup and styles, keeping only functional hooks,

Since currently UI doesn't have much markup at all, and for defining specs you basically need only few CSS classes (`source_section`, `source_example`), it's not that big of a problem. It's partially possible to

[2015-07-20 08:12] #162 closed

[2015-07-20 08:15] operatino commented on #76
Hi @custa1200,

Thanks for your input! You're talking about some common community platform of SourceJS user, where people can share their use-cases? Or about integrating some blog platform to SourceJS as a plugin?

[2015-07-20 09:40] custa1200 commented on #76
I think just a very simple blog would help. I think there would be value in selling the ideas behind a live style guide wider through businesses if they can be brought along on on the thinking behind it.

[2015-07-20 10:05] operatino commented on #76
I have planned a blog, that will be also open to any contributors. And I agree, it's really important to get the idea, before actual tech implementation.

The best resource with aggregated content about Style Guides in general is http://styleguides.io/

[2015-07-24 10:17] mik01aj commented on #76
@custa1200 I think you can already use Markdown specs as a blog for news.

[2015-08-02 07:58] custa1200 opened #163 "Full width source_example containers"
I made a site wide navigation bar and I feel it is limited in being shown in a spec because source_example is set to be inline-block with a fixed width rather than just being block and fullwidth. It makes more sense to me to make it block, I can't see any valid reason or advantage for it to be inline-block.

[2015-08-03 07:57] mik01aj commented on #163
When it's inline-block, it can grow bigger to fit the content (note that `.source_example` doesn't have set `width`, only `min-width`).

[2015-08-06 12:00] operatino commented on #163
Hi,

It's hard to define one common width logic for `source_example` block for all the enormous use cases. `inline-block` allow to show both small elements and wide elements in acceptable UI.

You can always override `source_example` styles in `user/assets/css/defaults.css` or directly for the spec page.

There's also a set of modifiers available to use:

[code]

[2015-08-06 12:00] #163 closed

[2015-08-06 12:12] operatino commented on #76
@mik01aj, I can, but it will be a bit hacky, since SourceJS is not a blog platform, so I will use separate engine for that. Something like Jekyll or Docpad.

[2015-08-06 12:13] operatino commented on #159
Hi,

Sorry for the delay with fixing this issue, I just returned from my vacation, and now will have spare week only for SourceJS development. You can expect 0.5.4 release with this fix in a week.

[2015-08-06 12:50] mik01aj commented on #159
Thanks :+1:

[2015-08-10 20:16] operatino commented on #159
I added an ability to configure everything for `server.listen` call, so now it's possible to define hostname and other arguments following the spec https://nodejs.org/api/http.html#http_server_listen_port_hostname_backlog_callback.

[code]

There's also a cli argument available `--hostname`.

[2015-08-10 20:34] operatino commented on #159
Returning to the last request with base-url definition. Let's discuss how it should be done, and what's the expected output. It should be possible to configure a reverse-proxy with current set-up, mirroring SourceJS style guide to `anydomain.com/some/path/`. Custom location root will proxy contents from style guide engine root, and then the server configuration must prefix all the root url cals wi

[2015-08-10 20:34] #159 closed

[2015-08-10 20:38] operatino commented on #156
I will close this issue for now, since I expect it should be fixed after removing JSDom from spec rendering.

[2015-08-10 20:38] #156 closed

[2015-08-11 09:43] mik01aj commented on #159
I was thinking about using a reverse proxy.

[2015-08-12 09:25] mistermark opened #166 "Provide LESS compiling also on /user level styles"
The core of SourceJS is using LESS stylesheets for the styles. It would be good if the user customisation can also use these same format to write styles.

Currently it only takes CSS files, and not LESS files.

[2015-08-12 12:21] operatino commented on #166
It doesn't really matter which preprocessor you use on the user customisation level, since it's just an extension on top. We should not provide any opinion on that out of the box. Besides, LESS compilation set-up is a question of 10 min job.

I'm not sure how the SourceJS UI styling topic will evolve in nearest updates, we definitely have some difficulties right now. That means that I also can't b

[2015-08-12 14:01] operatino commented on #150
Done. Now it's possible to define custom thumbnail path from global options `core.fileTree.thumbnail` or from spec `info.json` file with `thumbnailPath` option.

[2015-08-12 14:01] #150 closed

[2015-08-12 17:26] operatino commented on #151
This can be done directly in EJS template file.

Example in `core/views/doc.ejs`:
[code]

I will also add this snippet in default SourceJS init repo.

@mistermark, you were interested in this feature.

[2015-08-12 17:26] #151 closed

[2015-08-14 14:33] operatino commented on #117
It's now possible to define middleware group/order and control group execution sequence. By default all middlewares (and older plugins) will be placed in `default` group. Here's the default group execution order:

[code]

#### Example configurations

In SourceJS core (configurable from `user/options.js`):
[code]

Plugin level configuration in `sourcejs-plugin-name/options.js`, will be merged on-to

[2015-08-14 14:38] operatino commented on #117
@mik01aj, in your case with `sourcejs-react-md` plugin, you can suggest user to re-define core MD rendering middleware. It's not very safe, but can provide you more flexibility.

I will open new issue about improving the set-up of custom language renderers for code MD middleware.

[2015-08-14 14:38] #117 closed

[2015-08-15 06:56] custa1200 opened #168 "Clean code for profanity."
While we all know and understand what a PITA things like IE especially can be, but the generated code shouldn't contain profanities. It doesn't give a polished or professional appearance. Example I have screen-shotted below,

![screenshot 2015-08-15 16 53 09](https://cloud.githubusercontent.com/assets/161224/9287850/5da5ab68-436e-11e5-8ac8-ccb706d454e0.png)

[2015-08-15 12:34] operatino commented on #168
That's fair, I'll clean this asap. Sorry for my colleagues attitude, seems like he was really upset with yet another browser bug.

[2015-08-15 12:34] #168 closed

[2015-08-15 17:10] operatino commented on #105
This can be already done on plugin level, like here https://github.com/mik01aj/sourcejs-md-react

[2015-08-15 21:47] custa1200 commented on #168
No it's completely understandable, but I think if I want to look to make this a production tool within a business it needs to be "professional" for all audiences.

[2015-08-16 00:42] custa1200 opened #170 "Inheritance"
What is considered the best way to handle CSS inheritance for rendered specs? I would not want to have to add font-family: x; into every single spec when it is likely to be inherited from the html/body rules but because the specs are componentized they don't include things like html/body rules. Should I just include things like my sites's  main.css file into the index.src.html file?

[2015-08-16 10:14] operatino commented on #170
You can always link any additional resources to parent spec template `user/core/views/spec.ejs`. There you can define some `reset.css` or styles base for all the specs.

The other way, following true UI components encapsulation practices, reset styles and globals (like font size etc) should be defined per component. This will ensure that components is really stand-alone.

[2015-08-16 10:14] #170 closed

[2015-08-17 09:47] mistermark commented on #118
I'll be very much looking forward to the easy theming of SourceJS. This is also one of my concerns when talking about separating the functional class used by JS functionality and the styling part.

Right now I'm creating custom template views and trying to clean up the class="" definitions, but it's a trial and error process to figure out which classes are pure styling and which have JS attached t

[2015-08-20 11:43] mistermark opened #172 "Extend the Autocomplete feature with extra options"
At the moment I'm overwriting the Autocomplete feature manually with some options that could be extended on top of the existing ones:

- position: absolute/fixed/relative
- top: enter a value or clear the value to allow positioning using CSS
- left: enter a value or clear the value to allow positioning using CSS

Also allow these options to be overwritten on /user level using a config.

[2015-08-20 12:22] mistermark opened #173 "Extend SourceJS with custom Theme capabilities"
To make SourceJS even more flexible than it already is I would suggest to extend SourceJS with the capability to allow Themes by user.

A theme can exist in the default assets directory and a user can define multiple themes in there by creating a new directory and creating it's own styles in there.

I've started some initial concept of theming on my install and it looks a little like the below. Of

[2015-08-21 09:31] mistermark opened #174 "Externalize templates for Catalogs"
It would be good if we can have the templates for the Catalogs as external files, and not in the JS file itself.

I now need to modify the source file `globalNav.js` to be able to modify the look of the catalog and the content displayed in there. I'd like to be able to do this on a template level in the same way as we can do with the header.

![screen shot 2015-08-21 at 11 27 57](https://cloud.git

[2015-08-21 09:33] mistermark commented on #166
Whatever flavour of css precompiling SourceJS is gonna use, I'd like to be able to use the same processor in the `user` folder. If that's going to be possible in the future, I'll be a happy ~~camper~~ coder.

[2015-08-21 15:31] operatino commented on #174
Totally agree, will plan this in nearest updates

[2015-08-21 15:35] operatino commented on #173
You're talking about SourceJS UI themes, or ones for the examples in specs?

[2015-08-21 15:40] operatino commented on #172
Agree. Position should be configurable, when top/left coordinates should be calculated depending on input position.

This was originally Ilya's @cheshirsky (LP team) module, asking him directly could speed up the progress. Anyway, I will plan this in some of the nearest updates.

[2015-08-21 15:52] operatino commented on #166
My position is to keep `user` folder as clean as possible. So instead of populating starting `user` template with opinionated tech and build scripts I would go for an additional set of instructions (or how-to article) instead.

As soon as I will set-up project blog, I will schedule a blog post about theming SourceJS, where I will also attach example build script.

All the articles in the blog will

[2015-08-23 20:48] operatino commented on #149
@mik01aj, unfortunately Shadow DOM polyfills are not covering CSS encapsulation. It's decided that we will start off with Shadow DOM plugin + scoped styles for Firefox as a fallback.

And because of Safari and IE not supporting neither of mentioned standards, in v.0.7 I'm planning to use an alternative encapsulation path as a default solution. Using PostCSS processing and CSS `all` property we wil

[2015-08-27 14:17] dmitrisweb opened #175 "pageLimit option does not work well for navigation which using tags filering"
There are few issues related to tag filtering:

1. Project has a flat structure - all items copied into '/items' folder and for building navigation used tag filtering. Now if limit amount of items only first column will have items.

2. Auto-generated link "All specs XX" - shows total for all items, but not filtered

<img width="702" alt="screen shot 2015-08-27 at 16 11 01" src="https://cloud.githu

[2015-08-27 14:43] operatino commented on #175
Hi, thanks for the report. Will plan a fix in next release

[2015-08-28 08:55] dmitrisweb opened #176 "Allow multiple tags while filtering by tag"
info.json has
[code]
This works:
[code]

But filtering by multiple tags does not work (comma separated, nor space separated)
[code]

[2015-08-28 11:40] operatino commented on #176
Useful feature request, would be great is somebody of Backbase guys could help on getting this done in core.

[2015-08-28 13:04] cheshirsky commented on #176
Implemented in [navigation fixes branch](https://github.com/sourcejs/Source/tree/navigation-fixes).

[2015-08-28 13:04] cheshirsky commented on #175
Fixed in [navigation fixes branch](https://github.com/sourcejs/Source/tree/navigation-fixes).

[2015-08-28 13:04] #175 closed

[2015-08-30 12:21] operatino commented on #80
First experimental plugin version is now available https://github.com/sourcejs/sourcejs-shadow-dom.

Until decent browser-support, we can't use Shadow DOM in core.

[2015-08-30 12:21] #80 closed

[2015-08-30 12:22] operatino commented on #149
First experimental Shadow DOM plugin version is now available https://github.com/sourcejs/sourcejs-shadow-dom.

Until decent browser-support, we can't use Shadow DOM in core.

[2015-08-31 18:55] operatino commented on #83
@cheshirsky, any updates on this one?

[2015-08-31 18:57] operatino commented on #174
Done in #178

[2015-08-31 18:57] #174 closed

[2015-08-31 19:09] operatino commented on #176
@dmitrisweb, what is the expected filter behaviour? Show specs that have both tags in the list, or 2 subsets? The current implementation by @cheshirsky checks specs that has both tags, which seems a bit wrong.

[2015-09-01 15:31] dmitrisweb commented on #176
Spec should contain both tags to be displayed - that is correct
Like show only "Universal Modules" or show only "MyProject Modules"
filtering by 2 and more tags would be very helpful

[2015-09-02 08:35] operatino commented on #176
Ok, @cheshirsky almost finished the PR, I've done the review already.

[2015-09-02 08:35] #176 closed

[2015-09-08 23:35] operatino opened #180 "Optimize for Node.js 4.0 stable release"
Optimize SourceJS and it's dependencies to run in latest Node.js release 4.0 (merged with io.js).

[2015-09-08 23:41] operatino commented on #180
Currently experiencing problems only with JSDom `contextify` dependency (io.js 3.0 and Node.js 4.0).

For easy fix, run this in SourceJS folder:

[code]

We're investigating how to make SourceJS work both with older Node.js versions and with 4.0.

[2015-09-15 07:44] JustB opened #181 "Can't install SourceJS on Ubuntu 14.04 and Node v4.0.0"
Hello,

I've tried to install Source on my machine but I keep running into this error

[code]
What could it be?

[2015-09-15 09:31] JustB commented on #181
I've tracked down the `contextify` dependency. It was in `jsdom`.

Changing the `jsdom` version in `package.json` from:

`"jsdom": "^1.2.1",`

to

`"jsdom": "^6.0.0",`

makes it work.

[2015-09-15 15:39] operatino commented on #181
Hi,

Thanks for the feedback, we're aware of this problem and solution is also listed in this task #180. There's a problem with JSDOM and making it compatible with most of the popular Node.js versions, so we will just wait till JSDOM removal from SourceJS in v.0.6.

[2015-09-15 15:39] #181 closed

[2015-09-18 22:22] szarouski opened #182 "npm 3 support"
Hi @operatino, there are issues installing sourcejs through npm 3 [which is not a beta anymore](https://github.com/npm/npm/releases). It fails on:

[code]

The cause for that is flat structure that npm 3 brings. I'll look for a solution, but just wanted to ask what are your thoughts on how exactly to fix that bug. Some of the approaches for the fix [described here](https://github.com/gruntjs/grunt

[2015-09-20 16:16] #123 closed

[2015-09-20 18:45] operatino commented on #182
Fixed in 0.5.6

[2015-09-20 18:45] #182 closed

[2015-09-20 20:36] operatino commented on #96
Currently it's decided to use http://firebase.com as a database solution for SourceJS plugins. It was considered because of nice API, free plans, and ease of install.

[2015-10-03 18:11] operatino commented on #99
Done

[2015-10-03 18:11] #99 closed

[2015-10-04 09:55] operatino opened #187 "Move HTML parsing module from core to plugin"
In 0.4.0 SourceJS got a [HTML API](http://sourcejs.com/docs/api/rest-api/#get-html) and parsing module, that allowed to automatically cache all code examples in API storage (using phantomjs script). This was specifically done to support tools like [Lego](https://github.com/sourcejs/lego), as a showcase of what components library could give to your team.

Since Lego was just proof of concept, HTML

[2015-10-04 11:30] operatino commented on #187
Removed parser code from core. Separate plugin in works...

[2015-10-04 16:13] operatino commented on #180
Version in `0.6.0-dev` branch and first nightly release (`sourcejs@0.6.0-nightly.0`) already supports Node.js 0.4.x, since JSDom is now deleted from dependencies.

[2015-10-07 17:08] kilbot opened #189 "Deploying to Heroku"
Has anyone had any luck deploying SourceJS to Heroku?

I'm new to both Heroku and SourceJS but it seems that Heroku has problems generating the user directory. For an example please see [this heroku site](http://styleguide.woopos.com.au/) which deploys [this repo](https://github.com/kilbot/WooCommerce-POS-StyleGuide).

[2015-10-08 08:06] operatino commented on #189
Hi,

Thanks for rising this up. I was planning to test Heroku deployment workflow and write a how-to article about it. I will plan in for next 0.6.0 release.

[2015-10-08 09:30] operatino commented on #189
Symlink was a temporary hack for defining proper user directory. You can join in to work on 0.6.0-dev, thgough Pull Reqest. The idea is to determite correct user directory and point node into it, instead of using symlink at all.

[2015-10-22 19:55] operatino opened #190 "Remove user symlink in sourcejs as node module"
Instead of symlinks, we should use just a filesystem call.

[2015-10-22 19:55] operatino commented on #190
Should fix the issue with Heroku deploy https://github.com/sourcejs/Source/issues/189

[2015-10-29 15:40] mik01aj commented on #180
+1 for this issue. Just updated my Node and noticed that it broke SourceJS.

[2015-11-04 11:02] mik01aj commented on #131
related: you could have metadata in your markdown like https://github.com/jaredly/demobox/blob/master/demo.md

[2015-11-05 20:10] operatino commented on #131
@mik01aj agree, it's also a nice option to use. I'll definetly come up with something similiar in 0.6.0

[2015-11-15 20:47] operatino commented on #156
I finally managed to reproduce it, and fixed it.

[2015-11-16 23:46] operatino commented on #190
Done

[2015-11-16 23:46] #190 closed

[2015-11-22 12:30] operatino commented on #189
I've configured latest 0.6.0-dev version to be compatible with Heroku. You can now install `sourcejs@0.6.0-nightly.4` as a dependency to your heroku app.

Here's an example of sourcejs nightly builds app https://sourcejs-nightly.herokuapp.com, deployed from https://github.com/operatino/init/tree/deploy.

I plan to write a short how-to later on, about deploying to Heroku. But there's no special ste

[2015-11-22 12:30] #189 closed

[2015-12-01 18:42] jmathur5 opened #192 "What command do i run to initialize user directory on windows?"
The onboarding process for using SourceJS difficult for me. I'm using the quick start documentation http://sourcejs.com/docs/base/#install but no where does it mention how to auto-generate the users directory like explained in the live demo https://youtu.be/ukFeZnJjrLs?t=635 . I'm working on a Windows machine, can anyone please guide me in the right direction?

Thanks!

[2015-12-01 22:11] operatino commented on #192
Hi,

Sure, here's the part from installation doc:

[code]

So first you clone empty initialising project (https://github.com/sourcejs/init.git), then you install latest SourceJS version into it with `npm install sourcejs@0.5.6-no-jsdom --save`.

[2015-12-01 22:11] #192 closed

[2015-12-02 16:07] Synopticum opened #193 "Global custom fields in a specs"
SourceJS doesn't provide an opportunity to change the URL to the master-app styles dynamicaly.
Currently, this URL should be hardcoded in the template(s) like this:
`<link href="http://production-server.com/css/all.css" rel="stylesheet" data-source="core">`

I would like to be able to change **http://production-server** in the all specs dymanicaly, for example, after the POST request to SourceJS s

[2015-12-18 11:37] Synopticum commented on #193
This is temporary solution. This solution don't require a modifications of the SourceJS engine code.

1. Add this code to /user/core/app.js:

[code]

2. Replace in the /user/package.json `"start": "node ./node_modules/sourcejs/app.js"` to `"start": "node ./node_modules/sourcejs/app.js $SERVER"`

3. Use `<%= info.server %>` in your spec templates like this:

[code]

*Warning*: A content of all your

[2015-12-18 14:29] operatino commented on #193
Hi,

Sorry for the late reply. As soon as I will have time, I will provide an official way for passing custom configuration to `info` context.

Good that you found temp solution for that, but I would actually recommend using middleware for that, without writing to each `info.json` file. You can follow this example middleware, to check how can you extend the `info` object in runtime, during the spe

[2015-12-18 14:43] Synopticum commented on #193
Sure, thank you!

[2016-01-27 13:54] falconx opened #195 "Bad user directory"
Running on a linux env and going through the npm install steps:
[code]

Source is setting the user directory — ```global.app.get('user')``` — to:
[code]

I would expect it to be:
[code]

[2016-01-27 14:00] operatino commented on #195
Hi,

Is this path wrong, our you expect it to be just shorter? This is already changed in `0.6.0-dev` version, so you can try `npm i sourcejs@0.6.0-nightly.4`.

[2016-01-27 14:30] falconx commented on #195
Hi (thanks for the quick reply),

I would have said wrong because I wouldn't wan't my user overrides inside `node_modules`. After updating the package I now see this path as my user directory:
[code]
Which I guess is now correct? My interpretation was that user content would go under a sub-folder `user`, or whatever the value of `core.common.pathToUser` is set to.

[2016-01-27 14:46] operatino commented on #195
We still need to re-test how `core.common.pathToUser` conf works in new version, but as you got in `0.6.0` build, the default user folder is the root of `node_modules`.

[2016-01-29 14:27] falconx commented on #195
Got it. The installation is now working as expected. Thanks for your assistance.

[2016-01-29 14:27] #195 closed

[2016-02-11 01:03] mackski opened #198 "Customising templates HTTP 500"
Following the documentation:

[code]

This generates a HTTP 500 which halts execution. It appears to be a lodash issue.
Further more, NPM output: Requested url: /api/options Error: ReferenceError: _ is not defined

[2016-02-11 10:59] operatino commented on #198
Hi,

Sorry for the misleading, seems like we missed this line in the docs example:

[code]

Could you please check this out and report back if it helped?

[2016-02-12 05:42] mackski opened #199 "Sort by issues"
1. Sort by link not clickable in Chrome.
2. Change sort by (in firefox) does not work. (also manually constructing URL does not work)
eg:
#sort=alph
#sort=date

[2016-02-12 11:37] operatino commented on #199
Hi,

Can you please specify the version you're using, is it 0.5.6?

On 0.5.6, which is used by sourcejs.com both sorting by date and alph is working:

https://sourcejs.com/docs/#sort=date

![image](http://d.pr/i/12G2Y+)

[2016-02-13 06:06] #198 closed

[2016-02-13 06:10] mackski commented on #199
Appears to be a CSS issue, the overlapping div can be seen here:
Adding: `float:left` to `.source_col__23` resolves the issue.

![snip_20160213160750](https://cloud.githubusercontent.com/assets/4234669/13026231/01ce4c68-d26c-11e5-8a70-dbe2009d5828.png

[2016-02-13 06:22] mackski commented on #199
I can now confirm the offending css is: `.source_login` which has a height of 40px.
Setting this to display: none, or height:0 also resolves the issue.

[2016-02-13 07:01] mackski opened #200 "Breadcrumb navigation"
Breadcrumbs would be good for deeper navigation without having to back in browser or start from spec homepage again.

[2016-02-13 12:05] ndelangen commented on #200
Yes I agree, this would be usefull for my project as well!

I might want to try and develop this feature, should this be a plugin or can this be a core feature?

[2016-02-13 19:31] ndelangen commented on #148
Might be better to move this feature into a plugin, if you think it's not useful by default. I use both the section folding and clarify when appropriate for my workflow. Clarify is my second choice when needing focus.

[2016-02-14 15:48] ndelangen commented on #200
I've got it working: https://github.com/ndelangen/sourcejs-Source/tree/ndelangen/breadcrumb-in-header

But I need feedback from @operatino whether this is as he envisioned such a feature. I've added this via the wrap.js middleware in core.

[2016-02-14 21:41] mackski commented on #200
It would be better to use the meta data in info.spec file and display title rather than a friendly file name.
The styling doesn't work for me.

[2016-02-14 22:03] ndelangen commented on #200
Good point! I'll give it some thought on how to display the info.json names.

[2016-02-14 22:09] ndelangen opened #201 "Dynamic header navigation"
Right now in order to display navigation items, you have to override header.inc.html entirely.

Wouldn't it be nice to create a way to inject navigation items to render in the header without overriding the template?

I guess many people need custom branding and override the header anyway, but even then, a list of navigation-items in options.js, that gets rendered inside the template sounds like a

[2016-02-15 12:28] operatino commented on #200
Hi,

I totally like the idea with having breadcrumbs in the core. We were discussing it before with our team, had same requests before. Looking forward to your contribution!

Will be glad to help with making this work. Some initial thoughts about the implementation:

1. It should be done server-side, as we try to move most of this kind of features to server, without messing the client side part.
2

[2016-02-15 12:32] ndelangen commented on #200
I'll refactor and submit a PR. :+1:

[2016-02-16 08:16] operatino commented on #201
Hi,

That's a nice idea, it would fit nicely here. This will allow to keep more standard templates in userland, enabling easier maintenance in future.

As I stated in yesterdays discussion about breadcrumbs #200, it's better to separate templates and fill in the tags with already rendered HTML. It means that you can decompose whole `<nav class="source_header_nav">` to another EJS template, which w

[2016-02-16 08:22] operatino commented on #148
I will consider the possibility of moving it into the plugin, but seems like it's a redundant feature to have with the Clarify functionality.

Even plugin needs some maintenance. Having less redundant features makes software more stable and fit open source project a lot more nicely.

[2016-02-16 08:28] operatino commented on #199
Oh, now I follow the problem. Will investigate this and mark as bug. PR to `0.6.0-dev`could greatly help speed up the process.

Could you please also show the source code of your overridden header template?

[2016-03-06 13:20] ndelangen commented on #200
I've been refactoring, but I've not been able to make it work so far, I'll need some help @operatino .

I updated my feature-branch. It's broken at this stage.
https://github.com/ndelangen/sourcejs-Source/tree/ndelangen/breadcrumb-in-header

What I think is going on: the same EJS-template is attempted to be rendered, once with part A of the data (head, header, footer), and a second time with bread

[2016-03-09 16:32] operatino commented on #200
Hi, @ndelangen!

I'll check what's going on with your version, seems like some small bit is missing to make whole thing running.

Regarding checks in EJS for data that may not exist, you can just do `typeof foo !== 'undefined'`, since it's possible to use regular JS in EJS templates.

[2016-03-09 21:54] ndelangen commented on #200
Does, making the error go away like that, solve the problem though? Since the template has already been provided with data once and rendered, I'm assuming all the EJS tags are removed/replaced? Thus a second iteration would not template/change anything, and breadcrumbs would simple not be shown?

[2016-03-12 22:31] ndelangen commented on #200
Ah I see, the ejs spec templating is still done in wrap.js, but wrap.js is provided with additional data from the breadcrumb middleware. I have it working, will work on styling a bit tomorrow, and update the PR.

Do you have a good idea how to retrieve a spec's title, based on URL @operatino ? As @mackski [suggests here](https://github.com/sourcejs/Source/issues/200#issuecomment-183984016), I'd be

[2016-03-13 16:27] Realetive commented on #87
What result with this idea? It's very good idea because allow to have result on GitHub Pages.

[2016-03-13 19:08] operatino commented on #87
@Realetive, since SourceJS provides scalable, dynamic platform, that supposed to be easy to extend, we don't currently have plans to officially support "compile to static" functionality.

It is possible to get relatively cheap VPS options, like on Digital Ocean, or use free node hosting plan from Heroku.

I'll leave this for the community, so anybody interested could create a plugin that does this

[2016-03-13 19:20] operatino commented on #200
@ndelangen The recommended way is to always set Spec Title in the `info.json` file, so it could be used for automatic templating, and things like breadcrumbs.

In your middleware, you can fetch Spec Info with https://github.com/sourcejs/Source/blob/0.6.0-dev/core/lib/specUtils.js#L56, and use human readable title instead of URL. Same goes for parent folders/catalogs.

[2016-03-14 00:04] ndelangen commented on #200
It's in!, updated my PR.

<img width="1036" alt="screen shot 2016-03-14 at 01 02 42" src="https://cloud.githubusercontent.com/assets/3070389/13732332/a6127346-e980-11e5-928a-2b689f308b64.png">

[2016-03-14 08:57] operatino commented on #200
Looks cool! I'll give it a review as fast as possible.

[2016-03-23 21:18] operatino commented on #200
Done https://github.com/sourcejs/Source/commit/1f3b006c6f055f4f5b181ce948da27973f9bb51f

[2016-03-23 21:18] #200 closed

[2016-03-24 03:50] custa1200 opened #204 "Issues including Remodal javascript library to a spec"
I am trying to create a spec that describes modal window behavior. I use the remodal library for this purpose. When I include it on my spec page like:
[code]
When I try to run the spec in SourceJS and it fails load the remodal compenent and and gives me the folllowing error in the web inspector:
[code]

[2016-03-29 03:51] custa1200 opened #213 "All specifications show on each page for DSS"
Hi i am using the latest nightly build and am finding as I am buiding up my specs that they are all appearing on each page.

[2016-03-29 10:04] operatino commented on #213
I've moved the issue to proper repo, let's continue the discussion there https://github.com/sourcejs/sourcejs-contrib-dss/issues/3.

[2016-03-29 10:04] #213 closed

[2016-04-13 05:38] custa1200 opened #214 "SourceJS CSS is interfering with my Specs."
The following code in the forms.less file of SourceJS is conflicting with my specs. :(
[code]

[2016-04-13 09:23] ndelangen commented on #214
I suggest we add a `.source_inputelement` on all `<input ... />`s and style it like this:

[code]

[2016-04-13 10:00] custa1200 commented on #214
I would suggest namespacing everything using "sourcejs-*" and using BEM, so it would be something like :
[code]
the element seems a bit redundant, everything is an element. Could even BEM it further by making them

[code]

[2016-04-13 19:26] ndelangen commented on #214
I think the code you are referring to is from bootstrap's CSS. here: [bootstrap.css#L2595-L2601](https://github.com/sourcejs/Source/blob/master/docs/data/bootstrap.css#L2595-L2601) and it's [.map-file](https://github.com/sourcejs/Source/blob/master/docs/data/bootstrap.css.map).

bootstrap's CSS is only embedded on doc pages, or specs using the doc template:
https://github.com/sourcejs/Source/blob/

[2016-04-13 19:36] ndelangen commented on #214
Thanks for the input regarding BEM, it's surely a nice methodology but so far sourcejs' CSS codebase isn't following it, so I think I'd be stick to what's defined within the project.

Though a change to fully use BEM everywhere in the codebase might be a issue to open up, it'd be something for further down the roadmap.

[2016-04-13 19:53] operatino commented on #214
@ndelangen got the right point, the issue is related to Bootstrap, not SourceJS styles. Bootstrap is only included to `doc` template as an example, and is not required by the engine. So you can safely delete Bootstrap from your template if you don't use it.

Regarding BEM styles, actually SourceJS follows it from day one. Please don't confuse engine styles with ones coming form Bootstrap.

[2016-04-13 19:53] #214 closed

[2016-04-13 23:26] custa1200 commented on #214
My index.src.html in each of my specs looks alittle like the following:
[code]

Iam not referenceing any template in this yet, I see the issues on the front end. Where do I need to set a specific spec template?

[2016-04-13 23:35] custa1200 commented on #214
The only spec I can find in my instance is the spec.ejs under core > views and it references bootstrap , Should I be creading a new spec page  in core? Then do I need to reference the new spec page?

[2016-04-14 07:10] operatino commented on #214
Please check that you don't have `template: "doc"` in your `info.json`
file, like here
https://github.com/sourcejs/Source/blob/master/docs/base/info.json.

By default specs are using the `spec.ejs` parent template that you've
referenced, unless you redefine it.

[2016-04-14 14:34] custa1200 commented on #214
There was no "template": "doc", in my info.json pages and I even went through and added "template": "spec", to my info.json page but still when I go to a specpage, Bootstrap.css is on the page :(

[2016-04-14 14:37] custa1200 commented on #214
You would still have access to my gitlab repository too @operatino

[2016-04-14 15:45] operatino commented on #214
@custa1200 I'll check the source code.

[2016-04-14 17:19] operatino commented on #214
Here's the line to delete from your spec template
https://gitlab.com/custa1200/transurban/blob/npm/core/views/spec.ejs#L16.
Sorry for confusion, this was left there in starting template, seems like
we need to remove it or put a special notice somewhere.

[2016-04-20 18:54] ndelangen opened #216 "Rename repository to sourcejs-core to make it more findable and 'easier' to fork"
Searching github for sourcejs does not yield what you'd expect. I'd expect sourcejs/Source to be the top hit, but even when sorting by number of stars or forks, the Source repository does not appear at all.

I suggest renaming the repository to sourcejs-core.

A nice side-effect will be that when someone forks sourcejs-core the repository name will still be linked to sourcejs.

[2016-04-21 09:10] operatino commented on #216
Hm, that's a valid point, let's also see how other organizations with multiple repos solve that.

[2016-04-21 09:48] ndelangen commented on #216
Gulp uses `gulpjs/gulp`
https://github.com/search?utf8=%E2%9C%93&q=gulp

So does Grunt:
https://github.com/search?utf8=%E2%9C%93&q=grunt&type=Repositories&ref=searchresults

AngularJS has `angular/Angular`
https://github.com/search?utf8=%E2%9C%93&q=angular&type=Repositories&ref=searchresults

react has `facebook/react`
https://github.com/search?utf8=%E2%9C%93&q=react&type=Repositories&ref=searchre

[2016-04-21 09:53] ndelangen commented on #216
Looks like github favors repository names & repository descriptions for searching 'tags' in.

Searching for React**JS** yields this:
https://github.com/search?o=desc&q=reactjs&ref=searchresults&s=stars&type=Repositories&utf8=%E2%9C%93

[2016-04-21 10:10] operatino commented on #216
So probably we just need to name core repo as a main package `sourcejs`?

[2016-04-21 10:54] ndelangen commented on #216
Yeah, sounds like that has become common practice, and it also corresponds with the npm package name.

[2016-04-21 10:56] ndelangen commented on #216
I assume renaming it will cause githib to redirect any incoming requests to the old repository to the new url?

[2016-04-21 12:23] operatino commented on #216
It should, but not sure how reliable this is. Will wait until 0.6.0 release, where official distribution will be handled through npm.

[2016-04-23 17:43] operatino commented on #204
I've checked the issue, confirm that it's reproducible. Started to work on proper js encapsulation with webpack/commonJS.

[2016-04-26 07:00] custa1200 commented on #204
I see this everytime I load a page with remodal on it.

[2016-04-26 07:03] custa1200 commented on #204
Safari is giving me a different looking error.

[code]
Where it says "undefined is not an object (evaluating 'typeEnabled')" in the ModuleLoader.js file.

[2016-04-26 08:33] operatino commented on #204
We're aware of the problem and it's reasons, this week I plan to finish the encapsulation and release 0.6.0 with it. This change will ensure that there won't be any JS conflicts between SourceJS UI code and example component code.

[2016-04-26 09:27] custa1200 commented on #204
Is there anything I can do to help test it?

[2016-04-26 09:34] operatino commented on #204
@custa1200, I have access to your project, so it's quite enough for now. As soon as I'll implement the encapsulation, it will start working, I have this already done in my POC branch.

[2016-04-28 05:09] custa1200 opened #217 "Ability to access Images in a specific folder"
I am placing my images for the style guide in a folder called "/images" at the root of the SourceJS site, but I can't seem to access them using the CSS files within the Spec. They just 404, is there something I have to do in config to allow the grabbing of static images? Is this an Express environment problem within SourceJS?

[2016-04-28 06:40] custa1200 opened #218 "Odd spacing in the Source code view"
Not sure what's going on but the source code view shows a lot of line breaks that do not exist in my examples.

![screenshot 2016-04-28 15 39 55](https://cloud.githubusercontent.com/assets/161224/14876390/c6c7fd04-0d57-11e6-8d4a-8724cc08240f.png)

[2016-04-28 07:35] ndelangen commented on #217
I've added custom routes like this:
*I'm using sourcejs as an npm module*

1. Add a folder named `core` in the root of your project
2. Add a file named `routes.js`
3. Write something like this in that file:
[code]

This worked for me. Perhaps there are better ways, I think I got to this solution by peaking at https://github.com/sourcejs/Source/blob/0.6.0-dev/core/routes/redirects.js

[2016-04-28 09:11] operatino commented on #218
The current auto formatting lib is not really reliably, we're looking forward updating it, also moving the example code generation to the server.

[2016-04-28 09:12] operatino commented on #217
By default absolute URL's should lead to user root folder, I'll check what might happen with this.

[2016-04-28 13:57] custa1200 commented on #217
Can't get either to work in 0.6.0, I did change the snippet above to be :
[code]
to fit my structure of images being at the root of my site.

[2016-04-29 00:26] custa1200 opened #219 "Don't have all spec markup using markdown when not using a .md file."
When I use the index.src.html spec file and use <markup> I can't understand from the examples how I add the:

.source_info
.source_warn
.source_doc
.source_a_d
.source_a_s
.source_hl
.source_a_hl

that are defined in https://sourcejs.com/docs/spec/

I tried doing a:

[code]
But it didn't work (I really wish there was an easy way to add markdown into markdown, excuse the \ )

also would it be bette

[2016-04-29 00:29] custa1200 commented on #219
Or is it only abled to be handled mixing markdown and HTML?

[2016-04-29 10:03] operatino commented on #217
Seems like it's a bug of `0.6.0`, I'll check it out.

[2016-04-29 10:08] operatino commented on #219
Nice point you have here, indeed these block types are not implemented yet. But you can mix HTML with markdown to make it work.

It would be really useful to have those helpers generated from markdown like:

[code]

[code]

It's also a good task for a first contribution, so PR's are welcome. Here's the file you can start with https://github.com/sourcejs/Source/blob/master/core/lib/processMd.js.

[2016-04-30 08:55] ndelangen commented on #219
Theoretically other plugins can add even more block-types?
Should we implement some naming convention to prevent name-clashing?

[code]

[2016-05-01 14:10] operatino commented on #219
Right now plugins can do that only if a user sets those renderers in his config, like here https://github.com/mik01aj/sourcejs-md-react

[code]

[2016-05-02 01:37] custa1200 commented on #219
@operatino I'l try to get this organised sometime if the next few days. I have not submitted a PR to any projects before, so I might need some hand holding for my first one in here.

[2016-05-02 06:20] custa1200 commented on #217
Sorry guys, I think I may have sent people in circles on this one. Looks like the export from sketch had a space at the start of the name. :( @operatino did you want me to close it?

[2016-05-02 08:34] operatino commented on #217
@custa1200 so there's no bug, and image is available by absolute url from `user` folder?

[2016-05-02 08:39] operatino commented on #219
@custa1200 no worries, feel free to ask any advice, I'll be happy to help.

You can also open a PR just to validate the approach, or ask for help, we've been doing the same with @ndelangen, he also was doing his first OS contributions to SourceJS.

[2016-05-02 09:32] operatino opened #220 "Test release with isolated JavaScript used in SourceJS UI"
I’ve released the first alpha version of JS isolation under `0.6.0-isolated-js.0` tag. This is the last big feature to polish before 0.6.0 release, so if somebody could test it around, it will help a lot.

Now UI code of SourceJS (almost) does not expose any globals except `window.sourcejs`. You can use your own requirejs/jquery and etc, without a fear to interfier with engine code (#204 and other

[2016-05-02 09:34] operatino commented on #204
First test build is available for testing #220.

@custa1200 I've tested with your version either, seems to work fine

![image](http://d.pr/i/H3XJ+)

[2016-05-02 11:00] custa1200 commented on #217
Yup I was able to get to it after I removed the leading space the image file had gotten without me realising.

Sent from my iPhone

[2016-05-02 12:44] #217 closed

[2016-05-02 23:12] operatino commented on #220
Already merged into `0.6.0-dev`  #221, and available in the new nightly build `0.6.0-nightly.6`.

[2016-05-02 23:40] custa1200 commented on #220
Big step mate. Awesome work.

[2016-05-03 12:07] custa1200 commented on #219
So I have added a PR with #222 hope it's ok.

[2016-05-03 12:24] ndelangen commented on #220
I just updated from `0.6.0-nightly.5` to `0.6.0-nightly.6`.  😎

[2016-05-03 13:30] custa1200 commented on #220
Just updated mine to nightly.6 too.

[2016-05-03 15:09] custa1200 opened #223 "Markdown pseudos"
Need a efficient way of writing out states when using markdown. The DSS plugin handles this very well with only having to write the example code once. Ideally the method could be able to handle both pseudo states as well class based states.

[2016-05-08 03:23] custa1200 opened #226 "Order of Plugins CSS"
I have enabled the latest sources-spec-dependencies, works well, but I try to override the styles in my user css file but it seems the plugins css must load after as I can't override without increasing specificity or resorting to !important's. Would be handy if it was loaded before the user CSS.

[2016-05-08 20:28] operatino commented on #226
Hm, I think this is doable, and won't break anything else. I will see what I can do.

[2016-05-17 06:59] custa1200 opened #227 "Any way to require modules in the SourceJS app?"
Was thinking about adding Newrelic on the SourceJS app, I'm assuming there is no easy way to do this without getting into the core files?

[2016-05-17 11:42] operatino commented on #227
You can use `core/app.js` file in your project directory to add any server-side modules. It will be required on app start, so any modules you will load there will run with the core app.

[2016-05-17 11:42] #227 closed

[2016-05-19 11:10] mspkom commented on #200
Thanks for including the breadcrumbs to the project. Is there an "getting started" or an example how to use it in the specs?

[2016-05-19 11:55] operatino commented on #200
@mspkom, you need to update the `spec.ejs` template you got with the starting project, adding there `<%- breadcrumb %>` tag.

[2016-05-20 09:53] mspkom commented on #200
Thanks so far, but I think, I still have a problem with the version. Installing or updating it with yo, I still have the version 0.4.2 on my computer. I guess, that is the problem.

[2016-05-20 10:29] operatino commented on #200
Yes, you should have `0.6.0-dev` version to make it work. I highly recommend using NPM install path, the transition for the existing project should be almost seamless.

The old project structure, when user folder is a child of SourceJS will be deprecated in 0.6.0, and dropped with 0.7 release.

[2016-05-20 11:35] mspkom commented on #200
Thanks a lot for the good and fast support. You guys do really great work.

[2016-05-20 11:40] ndelangen commented on #200
Glad to hear the breadcrumbs are liked!

[2016-05-26 04:19] custa1200 commented on #204
This has been sitting here for a while, Seems to work well, I'm closing it off.

[2016-05-26 04:19] #204 closed

[2016-05-28 20:48] ndelangen opened #229 "rename stuff like options.js and /assets/ to names more sourcejs related"
Now that install by dependency is going to become the official way and the only way in 0.7.x I think we should think about being a bit less invasive upon people's environment.

Imagine if every npm dependency just asked to add a options.js to the root of the folder?
I propose we rename it to something like sourcejs.config.js if that's possible.

Also I think all template-overrides, assets override

[2016-05-28 20:50] ndelangen commented on #220
I've merged it into my dev branch and have been working with it for a fair bit. 0 issues!

[2016-05-29 08:46] ndelangen opened #230 "Standardize adding styling to core via plugins"
If I'm correct, there currently is no standard way of adding styling to sourcejs via middleware.

Would it be a good idea if middleware could register additional styling source files and core would compile and bundle them?

Of do you think it would be better not to add this complexity and just provide an array of stylesheets.
That would simply be placed in the head.

I'm leaning towards just havin

[2016-05-29 08:47] ndelangen commented on #230
@operatino I can incorporate the second idea pretty easily in my dev-branch.

[2016-05-30 07:51] operatino commented on #229
Hi,

My assumption always was that SourceJS should be defined as a dependency deeper in the tree, next to the project components. Do you see it's feasible to keep SourceJS as a dev dependency right in the root? In this case of course `options.js` is way too abstract. We can introduce an alternative name, with deprecation notice for the old one already in `0.6.0`.

For the overrides, we definitely

[2016-05-30 08:21] operatino commented on #220
Alright, considered stable then!

[2016-05-30 08:21] #220 closed

[2016-05-30 08:25] operatino commented on #230
There's no common way of adding styles from server side plugins, we currently only have `Css` loader module for client side plugins.

I definitely plan to drop the idea of building SourceJS on user side, to lower dependencies amount, therefore plugins should provide built set of assets. Then you can just create a link to `/node_modules/sourcejs-plugin/assets/some.css` stylesheet and it will be loa

[2016-05-30 09:25] ndelangen commented on #230
Ok, no client-side building.
I guess, it has both pros and cons.. Pro's would be that middleware plugin can be less verbose and re-use mixins and variables provided by sourcejs. Cons would obviously be that users need to run a certain command after installing a plugin.

---

#### Should we:

1. Let's create a convention for middleware so they just have to place a css file somewhere in a predefined

[2016-05-30 09:58] operatino commented on #230
We can start with defining an internal util that will just accept the link to stylesheet (eg `/node_modules/sourcejs-plugin/assets/some.css`) and `req` object and then inject the `link` to the top of the `req.specData.renderedHtml`.

This will define a standard interface for the plugins to load CSS, keeping them flexible on where to put their styles. Later on, under the hood we can start injecting

[2016-05-30 12:18] ndelangen commented on #230
How would a middleware access this internal util?

like this ?:

[code]

---
What are your thoughts on this:

[code]
This method needs no additional util function, that needs to be required.

An even more generic approach could look like this:
[code]

Keeping this information as *data* for as long as possible and only rendering it to renderedHTML at the last possible stage, allows middleware to in

[2016-05-30 12:21] ndelangen commented on #230
`type` can be automatically detected and default to `js` and thus render in a
[code]

[2016-05-30 12:28] operatino commented on #230
I agree that we need to have something like `req.stylesheets` in future, but I preffer starting small, and a util will allow creating an abstraction, on top of which we'll be able to do different implementations in future.

I would start with util that appends to `req.specData.renderedHtml`, and then do `req.stylesheets` and similar lists.

[2016-05-31 09:02] ndelangen commented on #230
As req.stylesheet or something alike would be solely for middleware developers, why do you think it's wise to hold off  this change?

I'd personally prefer the option of just concatenating my asset-references into an array, and have sourcejs take care of embedding them for me.

I do not see this options as something that's a lot 'bigger', so I also don't know why starting small would be the better

[2016-05-31 09:09] operatino commented on #230
In case if we start with managing stylesheets like this only for plugins, it's okay to start with it. I just didn't wanted to do more changes for regular assets linking, since upcoming release have already enough of big changes planned.

But I would still insist on using a util for that, so when we continue the idea with assets linking as a standard for other use cases (like link assets in specs p

[2016-06-02 02:24] custa1200 opened #231 "Issues doing npm install"
<img width="944" alt="screen shot 2016-06-02 at 12 11 09 pm" src="https://cloud.githubusercontent.com/assets/161224/15731822/39b6556c-28bb-11e6-9a23-ccf85751fc63.png">

When I try to do an npm install on a new machine on the semi corporate network I get these fails? Maybe they are blocking things using the git protocol? Is this something that could be change to improve the chances of grabbing sour

[2016-06-02 06:18] operatino commented on #231
Hi,

I've saw the same issue with multiple projects lately, seems like a temporary GitHub issue. Even after getting those errors everything was installed and working though. Do you experience problems with running SourceJS aster seeing those error?

If the problem will repeat, I'll need to investigate what happened and probably I'll be ready to move deps back to npm.

[2016-06-06 09:57] operatino commented on #231
I see problems are not occurring anymore, so closing for now.

[2016-06-06 09:57] #231 closed

[2016-06-10 20:45] ndelangen commented on #149
I'll pitch in with an idea I have using iframe[srcdoc]. Sadly, this is not yet supported in IE or edge. Other modern browsers do:
http://caniuse.com/#feat=iframe-srcdoc

If you like this feature to come to Edge you can vote for the Edge development team to put it higher on their priority list [status](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/iframesrcdocattribute) [vote

[2016-06-13 08:02] mik01aj commented on #149
yup, I have to say I changed my mind about iframes. :)

[2016-06-13 08:16] ndelangen commented on #180
Can we close this as soon as 0.6.0 is officially released?

[2016-06-13 08:18] operatino commented on #149
@ndelangen let's start with a plugin, since a question of sharing JS with iframe examples is still not solved. If the solution work smooth, we can think about adding it into a core, but IE11/Edge support still could be an issue preventing that.

In Clarify, I parse all the `script`'s from the page to place them into the isolated example page, maybe same could be applied to iframes with srcdoc.

[2016-06-13 08:19] operatino commented on #180
Actually, the bug is already fixed even for 0.5.6, so we can close it already.

[2016-06-13 08:19] #180 closed

[2016-06-13 08:42] ndelangen commented on #166
I think it would be interesting to try and expose injecting less files into sourcejs Core for plugins. But not so much for user code.

If we wanted to provide some sort of opinionated stack for building things on we would do so as a plugin. [sourcejs-react-styleguidist](https://github.com/sourcejs/sourcejs-react-styleguidist) is an example of that.

I agree with @operatino that user-code and sourc

[2016-06-13 09:22] ndelangen commented on #193
Is this still something that needs fixing before the 0.6.0 release?

[2016-06-14 14:11] ndelangen commented on #218
Might be improved after switching to markdown-it ?

[2016-06-16 12:12] ndelangen opened #233 "Customize templates using EJS exclusively."
In Core we should try to unify where templates are and how they can be overridden.

Currently this is how a user must override the 'Navigation markup' (at least according to the docs):

[code]

It should be a possible to just drop a .ejs file in some folder.

This brings me to the second example where we should unify our interface:

`/core/views/` contain .ejs files
`/assets/templates/` contain .h

[2016-06-17 20:54] ndelangen commented on #145
I think this is now how 0.6 actually works, or am I forgetting something? Can we close this one?

[2016-06-17 21:01] ndelangen commented on #131
I'm not sure adding metadata reading support from package.json and the likes will do us too much good.

I definitely like the idea of embedding this metadata into the spec-file itself. I've seen some static site generators use a small bit a YML at the top of an html / liquid file for metadata. I think this is a superior way of adding metadata.

[2016-06-18 12:14] operatino commented on #145
It's almost is, but I'll need to re-test it and do a small demo project to be sure the DX is good enough.

[2016-06-18 15:43] operatino commented on #218
It's not related to the MD plugin, it's a separate thing that does auto line indent, should be improved on highlighter lib change.

[2016-06-18 15:45] operatino commented on #116
Bower is dead. So this one is about using npm for client-side deps now.

[2016-06-18 15:45] operatino commented on #141
Done

[2016-06-18 15:45] #141 closed

[2016-06-18 15:46] operatino commented on #127
The recommended way for plugins adding their UI's will be server-side injection, so no need to improve load event, which will be stripped out instead.

[2016-06-18 15:46] #127 closed

[2016-06-18 15:50] operatino commented on #166
As we decided to ship sourcejs only as already built app, the user won't have the tools installed to process LESS or other parts the same way SourceJS core does. So the only way for branding the UI will be using own styles build system, or plugins like https://www.npmjs.com/package/sourcejs-less.

[2016-06-18 15:50] #166 closed

[2016-06-18 15:51] #82 closed

[2016-06-18 15:53] operatino commented on #105
Related discussion from PR https://github.com/sourcejs/Source/pull/224

[2016-06-18 16:03] operatino commented on #233
Moving page navigation generation to server side, the `/core/views/` will be the natural choice for the templates, where it could be overridden with an existing approach.

[2016-06-19 08:59] ndelangen commented on #233
0.7 milestone?

[2016-06-19 09:28] operatino commented on #233
Yeah, closer to that.

[2016-06-19 16:36] operatino commented on #147
removed, and sourcejs-jade is fixed to have support both for 0.5.6 and 0.6.0

[2016-06-19 16:36] #147 closed

[2016-06-19 16:37] operatino commented on #60
Done

[2016-06-19 16:37] #60 closed

[2016-06-19 16:38] operatino commented on #94
Move to 0.6.x

[2016-06-19 16:38] operatino commented on #111
Done in 0.6.0-dev already.

[2016-06-19 16:38] #111 closed

[2016-06-19 16:38] operatino commented on #116
Move to 0.6.x

[2016-06-19 16:40] operatino commented on #144
Postponed. No priority for now, npm scripts should work fine for now with small init repo https://github.com/sourcejs/init

[2016-06-19 16:42] operatino commented on #187
Plugin creation postponed. If somebody will be interested in developing one, feel free to grab this task. We'll provide any support needed.

[2016-06-19 16:46] operatino commented on #193
Any SourceJS middleware plugin can extend the `req.specData.info`, that would be then passed to Spec renderer. This should be enough for now, if we'll see more use cases, we can think about some way of extending info.json from options.

Pull Requests also welcome.

[2016-06-19 16:46] #193 closed

[2016-06-19 22:09] ndelangen commented on #145
It has been for me 👍

[2016-06-20 23:26] custa1200 opened #236 "Further thinking about the Node require stack?"
As a follow up to #227 I have installed New Relic as suggested but it is complaining about not being the first require in the stack, which means that it is not instrumenting the rest of the node stack. Would be great if there was a prepend and an append option for the requires somehow

<img width="1415" alt="screen shot 2016-06-21 at 9 22 06 am" src="https://cloud.githubusercontent.com/assets/1612

[2016-06-21 06:42] operatino commented on #236
Hi, you're trying to set up JS error tracking? Are you running SourceJS instance in production for serious scale?

You can try wrapping SourceJS app into other node file, where you first require your script, and then the app.js from the root.

[2016-06-21 09:26] custa1200 commented on #236
My SourceJS instance has also become a bit of a testbed to show stuff to other developers. :) Certainly not at scale at this point.

[2016-06-25 17:22] operatino commented on #149
@ndelangen here's a interesting UI idea for changing the sizes of tested component

![image](http://d.pr/i/nBfU+)

From http://rauchg.com/2015/pure-ui/

[2016-06-25 17:35] operatino opened #237 "Look into Carte Blanche integration plugin"
Few great ideas they have, that would be really useful in SourceJS:

* Auto-components detection
* Data variations generation
* Option to define custom variations and save them per spec, without writing a single line of code

https://github.com/carteb/carte-blanche
https://www.youtube.com/watch?v=0IkWuXeKPV0

[2016-06-26 03:17] custa1200 commented on #237
Hopefully without a react requirement?

[2016-06-26 10:51] operatino commented on #237
Ideally yes, but it will take time. React support is already there, and they have a plugin system for other tech support, which we can benefit from all together.

[2016-07-06 20:45] adesca opened #238 "includeFiles doesn't seem to work"
In a test [readme](https://github.com/sourcejs/Source/files/350888/readme.txt) file I'm trying to include both a markdown file, that only has html, and a .partial file that contains the same content as the markdown files. These files are attached as [table.txt](https://github.com/sourcejs/Source/files/350889/table.txt).

When  a markdown include and a file include are both in the same readme, the

[2016-07-07 09:47] ndelangen commented on #238
Thanks, I'll see what I can find out.

[2016-07-16 10:31] custa1200 opened #239 "Error on fresh update from a repository"
Just tried to pull a copy from github of my repository and did an pm install and got the following :

[code]

[2016-07-17 20:48] ndelangen commented on #239
I just run :
[code]

and it installed correctly on my system. I'm not sure what could have gone wrong..
Looking at the error, npm installed correctly, but something in the postinstall script failed.

Can you try running :
[code]

[2016-07-18 19:46] operatino commented on #238
Hi,

I've done few tests in `0.6.0-dev` branch, and looks like both EJS helpers are working fine (`includeFiles` and `includeMD`). Please make sure that if you use `includeMD`, that you're specifically call `*.md` files, otherwise use `includeFiles`, for situations when you need to import files with markup. Here's the documentation for those methods https://sourcejs.com/docs/spec-helpers/.

Glob s

[2016-07-18 19:46] #238 closed

[2016-07-18 19:53] operatino commented on #239
Unfortunately, I can't reproduce it either, having the same versions:

[code]

Could you please re-check if you haven't done any changes?

[2016-07-18 19:53] #239 closed

[2016-12-12 21:15] Alanoll opened #240 "Ability to launch SourceJS via NodeJS Script"
Problem: If I have a NodeJS application, attempt to perform a **require(sourcejs)** so I can script and debug using VS my site's code (or any SourceJS plugins), I receive multiple errors.

I've been using the following setup for my SourceJS site development:

* Visual Studio 2015
* NodeJS Tools for Visual Studio

I created a "Javascript Project" in Visual Studio, so I can add the site to my group'

[2016-12-12 21:16] Alanoll commented on #240
I've got the issue fixed, and just following the contribution.md steps. If I screw up the process, let me know and I'll be sure not to do it again.

[2016-12-13 10:11] operatino commented on #240
Hi,

Thanks for your input and patch suggestion. I will look deeper into the changes, to validate the proposed solution.

[2016-12-13 10:45] operatino commented on #240
Have you tried spawning sub-process from your node script, instead of calling sourcejs server function directly? This will ensure that SourceJS will be isolated from your parent application, and also will enable it running on a separate CPU thread,

[2016-12-13 14:16] Alanoll commented on #240
What if the *start* function was expanded to take in an **options** objects that could act as another way to configure the SourceJS server (like the command-line arguments)?

[2016-12-13 14:43] operatino commented on #240
Hm, in case you don't have anything in you parent application, why do you even need to call SourceJS as a function? I haven't worked with iisnode, but 0.6.0-dev version is completely compatible with other PaaS like heroku.

Usually those remote runtime environments just call `npm start` or whatever you define as a starting commang + set some environment.

[2016-12-13 14:47] operatino commented on #240
Here's also an example of the recommended (and only flow for 0.6.0) of starting SourceJS https://github.com/sourcejs/init/blob/npm/package.json. Could be that you've been looking into an old structure, where indeed the SourceJS code was a part of local project.

[2016-12-13 15:28] operatino commented on #240
Thanks for the explanation, now I get what you are trying to achieve. It's looks like a valid reasoning, and I would be happy to make SourceJS more compatible with different IDE's and cloud hosting.

My point here is about checking how to make the solution simpler, with less potential code to maintain. Therefore few more questions:

* Does VS allows to run npm scripts, instead of direct `node scri

[2016-12-13 15:55] Alanoll commented on #240
I can definitely get on board with that.

From the nodejstools docs [here](https://github.com/Microsoft/nodejstools/wiki/npm-Integration), looks like it's NPM integration is from a package management perspective, not from a project launch/running perspective.
Their pre/post looks to be using [grunt tasks](https://github.com/Microsoft/nodejstools/wiki/Pre-and-Post-Build-Actions), but from a project

[2016-12-13 15:57] operatino commented on #240
Alright, looks like there's no other options (at least yet) rather then expose programmable API from SourceJS main file. Let's proceed with PR then.

[2016-12-20 13:46] operatino commented on #240
PR merged #241

[2016-12-20 13:46] #240 closed

[2016-12-20 15:40] Alanoll opened #243 "Add Ability to pass SourceJS CLI options via object"
#241 added the ability to use NodeJS's **require** to load SourceJS as part of a NodeJS script.

This issue will need to add the ability to pass in the SourceJS CLI options via plain object to the **startServer** method.

It should follow the same inheritance/override pattern as the current CLI ability.

1. Load Options via Options file
2. Load Options via CLI
3. Load Options via Options object
4.

[2016-12-20 15:42] Alanoll commented on #243
I'm thinking something simple matching the SourceJS options file:

`
{
    hostname: '',
    port: ''
}
`

Use of commander should be inspected throughout SourceJS, to ensure passed Options are used where neccesary (Tests come to mind).

[2016-12-20 15:44] Alanoll commented on #243
I don't think this issue should hold up the release of 0.6.0. I'm not sure of the full scope of changes, and they may be large enough that pushing to the next release makes sense.

[2016-12-28 16:09] operatino commented on #243
Indeed, 0.6.0 just needs to be released already. But feel free to draft a PR whenever you're ready.

[2017-01-01 20:55] Alanoll opened #244 "process.env.PORT - Non-numeric values"
While researching how to do #243 I noticed that SourceJS is performing a parseInt on the **process.env.PORT** value in [changeset](https://github.com/sourcejs/Source/pull/242/commits/9a08615649a474c201238723e03b020b50092f43).

According to the **http.listen** documentation, the PORT could also be a socket or a named pipe. Doing a parseInt, causes a NaN value to be stored.

[2017-01-01 20:55] Alanoll commented on #244
I ran into this issue attempting to use **iisnode** which does end up using a named pipe from the out of process execution of node.

Removing the parseInt got that working.

[2017-01-01 20:57] Alanoll commented on #244
@operatino
Does heroku always pass the value by number? Is that why the parseInt was added?

[2017-01-02 08:01] operatino commented on #244
Env variables are always passes as string, so only way is to separate passed settings and env check and do different transforms. Or just if not bool, then parseInt this param.

[2017-01-02 16:57] Alanoll commented on #244
`if (commander.port) global.opts.core.server.port = parseInt(commander.port);

if (process.env.PORT) {
    global.opts.core.server.port = parseInt(process.env.PORT);
    console.log('Using defined app PORT from environment variable: ' + process.env.PORT);
}`

So here's the blurb of code (line 62 or so of app.js). I was curious if there was a need to have the value as an number. **http.listen** sup

[2017-01-02 17:17] operatino commented on #244
Small test shown that indeed, express `app.listen` could accept string, so we can just remove `pareseInt`.

[2017-01-13 00:58] Alanoll commented on #243
Just adding a note here, so I don't forget when I come back to this.

I think we should do what Norbert did in this [changeset](https://github.com/sourcejs/Source/pull/225/commits/781693ff42d8d80f2c762ce1049febc99b10a576) where he moved all the server logic into a **server.js** file. I can either wait for his PR to be accepted (post-0.6.0) or we just deal with the annoying merge.

[2017-01-13 08:16] ndelangen commented on #243
We could cherry-pick that change into a new branch and submit a new PR?

[2017-01-14 15:38] #244 closed

[2017-01-21 23:02] webmarkelov opened #246 "Error when try install package"
Hi! i am try install package but get error
[code]
[code]
I try use the recommendation https://github.com/sourcejs/Source/issues/180 but get other error

version package sourcejs@0.5.6-no-jsdom perfectly work

[2017-01-27 11:46] webmarkelov opened #247 "Проблема с dom"
[code]
Привет! при составлении документации я столкнулся с такой проблемой что пакет [perfect-scrollbar ](https://github.com/noraesae/perfect-scrollbar) не правильно работает  в source.js так как в dev все работает правильно, начал дебажить и увидел что проблема в том что данный модуль не может рассчитать высоту блока (0px) и собственно по этому не правильно работает, мой бандл примерно выглядит т

[2017-02-11 17:40] operatino commented on #247
Hi @webmarkelov,

Sorry for taking so long to reply, been super busy with job change recently. Also sorry for answering in English, but it's better to keep it international.

Till latest changes in `0.6.0-dev`, people had similar issues from time to time with JS conflicts cause by external libraries. In the current dev branch we've implemented a complete isolation of SourceJS dependencies, please

[2017-02-11 17:40] #247 closed

[2017-02-11 17:42] operatino commented on #246
HI @webmarkelov,

Similar to other issue answered, till `0.6.0-dev` we had an unstable dependency for Windows OS, using `0.6.0-nightly.7` will fix your issue.

[2017-02-11 17:42] #246 closed

[2017-06-19 11:19] 8man-Jennifer opened #248 "Migrate to Github from localhost"
Just finished localhostet Styleguide for Websapp company. How do I migrate it to Github? .gitignore has /user how do I get around this?

[2017-06-22 11:52] operatino commented on #248
Hi Jenifer,

I've answered your question in our Gitter chat https://gitter.im/sourcejs/Source?at=594baf575bf0bef94cd0e3ea

Cheers

[2017-06-22 11:52] #248 closed

[2017-06-22 12:22] 8man-Jennifer commented on #248
Thanks Robert

Von: Robert Haritonov [mailto:notifications@github.com]
Gesendet: Donnerstag, 22. Juni 2017 13:52
An: sourcejs/Source <Source@noreply.github.com>
Cc: Jennifer Simonds <J.Simonds@protected-networks.com>; Author <author@noreply.github.com>
Betreff: Re: [sourcejs/Source] Migrate to Github from localhost (#248)

Hi Jenifer,

I've answered your question in our Gitter chat https://gitter.

[2017-07-24 14:56] slavko23 opened #249 "Customizing templates in options.js"
I tried example from point 4 here https://sourcejs.com/docs/data-nav/
I receive error in console when start app 'ReferenceError: _ is not defined'. How I can right fix it?

[2017-10-20 16:46] piretrus opened #250 "Configure style guide for Server, not local"
Hi, What do I have to do, for adapt the style guide in local, to a server?

Thanks!

[2017-12-07 19:53] Nazanin1369 opened #251 "NPM 5 Support"
sourcejs is failing under npm installation process with version 5.1.0. Any plan to support npm 5.0?